{%- if settings.layout_enable_snow_effect -%}
    <div id="particles-js"></div>
    <script>
        Loader.require({type: 'script', name: 'plugin_particles'});
        Loader.require({type: 'script', name: 'particles'});
    </script>
{%- endif -%}
<div id="theme-loader" class="d-none">
    <div class="loader js-loader">
        <div class="loader__bg" data-js-loader-bg></div>
        <div class="loader__spinner" data-js-loader-spinner>
            {%- if settings.layout_preloader_html != blank -%}
                {{ settings.layout_preloader_html }}
            {%- elsif settings.layout_preloader_image != blank -%}
                {% capture image_size %}{{ settings.layout_preloader_image_size }}x{% endcapture %}
                <img src="{{ settings.layout_preloader_image | img_url: image_size }}" alt="{{ settings.layout_preloader_image.alt | default: 'Pre-loader' }}">
            {%- elsif settings.layout_preloader_type == '1' -%}
                <img src="{{ 'shella-preloader.svg' | asset_url }}" alt="Pre-loader">
            {%- elsif settings.layout_preloader_type == '2' -%}
                {% include 'preloader-spinner-01' with get: 'html' %}
            {%- elsif settings.layout_preloader_type == '3' -%}
                {% include 'preloader-spinner-02' with get: 'html' %}
            {%- endif -%}
        </div>
    </div>
</div>
<div class="scroll-offset-example"></div>
<div id="theme-icons" class="d-none">
    <i>{% include 'icon-theme-006' %}</i>
    <i>{% include 'icon-theme-007' %}</i>
    <i>{% include 'icon-theme-164' %}</i>
</div>

<script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    {%- if settings.tooltips_enable -%}
    Loader.require({type: 'style', name: 'plugin_tippy'});
    {%- endif -%}
    Loader.require({type: 'style', name: 'layout'});
    Loader.require({type: 'style', name: 'theme'});
    {%- if settings.dev_enable_custom_css == true -%}
    Loader.require({type: 'style', name: 'custom'});
    {%- endif -%}
    window.theme = {
        strings: {
            general: {
                popups: {
                    cart: {
                        item_added: {{ 'general.popups.cart.item_added' | t | json }},
                        limit_is_exceeded: {{ 'general.popups.cart.limit_is_exceeded' | t | json }},
                        count: {{ 'general.popups.cart.count' | t | json }}
                    },
                    wishlist: {
                        count: {{ 'general.popups.wishlist.count' | t | json }}
                    },
                    compare: {
                        count: {{ 'general.popups.compare.count' | t | json }}
                    },
                    confirm_transfer_data: {
                        info: {{ 'general.popups.confirm_transfer_data.info' | t | json }},
                        wishlist_title: {{ 'general.popups.confirm_transfer_data.wishlist_title' | t | json }},
                        compare_title: {{ 'general.popups.confirm_transfer_data.compare_title' | t | json }},
                        name_single: {{ 'general.popups.confirm_transfer_data.name_single' | t | json }},
                        name_plural: {{ 'general.popups.confirm_transfer_data.name_plural' | t | json }}
                    }
                }
            },
            layout: {
                cart: {
                    items_count: {
                        one: {{ 'layout.cart.items_count.one' | t | json }},
                        other: {{ 'layout.cart.items_count.other' | t | json }}
                    }
                }
            },
            addToCart: {{ 'products.product.add_to_cart' | t | json }},
            soldOut: {{ 'products.product.sold_out' | t | json }},
            unavailable: {{ 'products.product.unavailable' | t | json }},
            priceSaleSeparator: {{ 'products.product.price_sale_separator' | t | json }},
            availability_value_in_stock: {{ 'products.product.availability_value_in_stock' | t | json }},
            availability_value_out_stock: {{ 'products.product.availability_value_out_stock' | t | json }},
            stock_countdown: {
                title: {{ 'products.product.stock_countdown_html' | t | json }}
            },
            countdown: {
                years: {{ 'products.product.countdown.years' | t | json }},
                months: {{ 'products.product.countdown.months' | t | json }},
                weeks: {{ 'products.product.countdown.weeks' | t | json }},
                days: {{ 'products.product.countdown.days' | t | json }},
                hours: {{ 'products.product.countdown.hours' | t | json }},
                minutes: {{ 'products.product.countdown.minutes' | t | json }},
                seconds: {{ 'products.product.countdown.seconds' | t | json }}
            },
            text_countdown: {
                hours: {{ 'products.product.text_countdown.hours' | t | json }},
                minutes: {{ 'products.product.text_countdown.minutes' | t | json }},
                days_of_week: {
                    sunday: {{ 'products.product.text_countdown.days_of_week.sunday' | t | json }},
                    monday: {{ 'products.product.text_countdown.days_of_week.monday' | t | json }},
                    tuesday: {{ 'products.product.text_countdown.days_of_week.tuesday' | t | json }},
                    wednesday: {{ 'products.product.text_countdown.days_of_week.wednesday' | t | json }},
                    thursday: {{ 'products.product.text_countdown.days_of_week.thursday' | t | json }},
                    friday: {{ 'products.product.text_countdown.days_of_week.friday' | t | json }},
                    saturday: {{ 'products.product.text_countdown.days_of_week.saturday' | t | json }}
                }
            },
            header: {
                cart_count_desktop: {{ 'layout.header.cart_count' | t | json }}
            },
            label: {
                sale: {{ 'products.product.label.sale' | t | json }}
            },
            cart: {
                general: {
                    shipping_calculator_data_info: {{ 'cart.general.shipping_calculator_data_info' | t | json }},
                    free_shipping_html: {{ 'cart.general.free_shipping_html' | t | json }},
                    free_shipping_complete: {{ 'cart.general.free_shipping_complete' | t | json }}
                }
            },
            {% if template == 'cart' %}
            shippingCalcSubmitButton: {{ 'cart.general.shipping_calculator_submit_button_label' | t | json }},
            shippingCalcSubmitButtonDisabled: {{ 'cart.general.shipping_calculator_submit_button_label_disabled' | t | json }},
            {% if customer %}shippingCalcCustomerIsLoggedIn: true,{% endif %}
            shippingCalcMoneyFormat: {{ shop.money_with_currency_format | json }},
            shipping_calculator_success_text: {{ 'cart.general.shipping_calculator_success_text' | t | json }},
            shipping_calculator_do_not_ship_text: {{ 'cart.general.shipping_calculator_do_not_ship_text' | t | json }}
            {% endif %}
        },
        multipleСurrencies: {{ settings.show_multiple_currencies | json }},
        moneyFormat: {{ shop.money_format | json }},
        permanent_domain: {{ shop.permanent_domain | json }},
        domain: {{ shop.domain | json }},
        host: {{ request.host | json }},
        {%- if customer %}
        customer: true,
        customer_id: {{ customer.id | json }},
        lists_app: {
            url: {{ shop.metafields.ollistsapp.appurl | json }},
            iid: {{ shop.metafields.ollistsapp.iid | json }}
        },
        {%- else %}
        customer: false,
        {%- endif %}
        {%- if settings.purchase_code != blank -%}
        purchase_code: {{ settings.purchase_code | json }},
        {%- endif -%}
        product: {
            hide_options_without_availability_variants: {{ settings.product_hide_options_without_availability_variants | json }}
        },
        animations: {
            css: {
                duration: {{ settings.css_animation_duration | json }}
            },
            tooltip: {
                type: {{ settings.tooltips_animation_type | json }},
                inertia: {{ settings.tooltips_animation_inertia }},
                show_duration: {{ settings.tooltips_animation_show_duration | json }},
                hide_duration: {{ settings.tooltips_animation_hide_duration | json }}
            },
            sticky_header: {
                duration: {{ settings.header_animation_sticky_fade_duration | json }},
                opacity: {{ settings.header_animation_sticky_opacity | json }}
            },
            header_tape: {
                duration: {{ settings.header_tape_animation_duration | json }}
            },
            menu: {
                duration: {{ settings.menu_desktop_animation_duration | json }}
            },
            dropdown: {
                duration: {{ settings.dropdown_animation_duration | json }}
            },
            accordion: {
                duration: {{ settings.accordion_animation_duration | json }}
            },
            footbar_product: {
                duration: {{ settings.footbar_product_animation_duration | json }}
            },
            tabs: {
                duration: {{ settings.tabs_animation_duration | json }},
                scroll_duration: {{ settings.tabs_animation_scroll_duration | json }}
            },
            pagination: {
                scroll_duration: {{ settings.pagination_animation_scroll_duration | json }}
            },
            backtotop: {
                scroll_duration: {{ settings.backtotop_animation_scroll_duration | json }}
            }
        }
    };
    {%- if settings.tooltips_enable -%}
    Loader.require({type: 'script', name: 'plugin_popper'});
    Loader.require({type: 'script', name: 'plugin_tippy'});
    Loader.require({type: 'script', name: 'tooltip'});
    {%- endif -%}
    {%- if template == 'cart' -%}
    Loader.require({type: 'script', name: 'handlebars'});
    Loader.require({type: 'script', name: 'countries'});
    {%- endif -%}
    {%- if template.directory == 'customers' -%}
    {%- assign need_shopify_common_js = true -%}
    {%- elsif template == 'cart' and settings.shipping_calculator != 'Disabled' -%}
    {%- assign need_shopify_common_js = true -%}
    {%- endif -%}
    {%- if need_shopify_common_js -%}
    Loader.require({type: 'script', name: 'shopify_common'});
    {%- endif -%}
    {%- if settings.show_multiple_currencies -%}
    Loader.require({type: 'script', name: 'currencies'});
    {%- endif -%}
    {%- if settings.dev_enable_custom_js == true -%}
    Loader.require({type: 'script', name: 'custom'});
    {%- endif -%}

    (function(_0x1c02x1){function _0x1c02x2(){this[_0x21f5[0]]()}_0x1c02x2[_0x21f5[1]][_0x21f5[0]]= function(){var _0x1c02x3=this;Loader[_0x21f5[4]][_0x21f5[3]][_0x21f5[2]]= function(){if(window[_0x21f5[8]][_0x21f5[7]][_0x21f5[6]](_0x21f5[5])===  -1|| $[_0x21f5[10]](_0x21f5[9])=== _0x21f5[11]|| (window[_0x21f5[13]][_0x21f5[12]]=== _0x21f5[14]&& window[_0x21f5[13]][_0x21f5[15]]=== undefined)){_0x1c02x3[_0x21f5[16]]()}else {_0x1c02x3[_0x21f5[17]]()};_0x1c02x3[_0x21f5[18]]()}};_0x1c02x2[_0x21f5[1]][_0x21f5[17]]= function(){var _0x1c02x3=this;$(function(){window[_0x21f5[39]](function(){if(!window[_0x21f5[13]][_0x21f5[15]]){_0x1c02x3[_0x21f5[19]]();_0x1c02x3[_0x21f5[16]]()};var _0x1c02x4={};_0x1c02x4[_0x21f5[20]]= _0x21f5[21];_0x1c02x4[_0x21f5[22]]= _0x21f5[23];_0x1c02x4[_0x21f5[24]]= _0x21f5[25];_0x1c02x4[_0x21f5[26]]= {};_0x1c02x4[_0x21f5[26]][_0x21f5[27]]= window[_0x21f5[13]][_0x21f5[12]];_0x1c02x4[_0x21f5[26]][_0x21f5[28]]= _0x21f5[29];_0x1c02x4[_0x21f5[26]][_0x21f5[30]]= window[_0x21f5[13]][_0x21f5[15]];_0x1c02x4[_0x21f5[26]][_0x21f5[24]]= window[_0x21f5[13]][_0x21f5[31]];_0x1c02x4[_0x21f5[32]]= function(_0x1c02x5){if(_0x1c02x5&& _0x1c02x5[_0x21f5[33]]){if(_0x1c02x5[_0x21f5[33]]=== _0x21f5[11]|| _0x1c02x5[_0x21f5[33]]=== _0x21f5[34]|| _0x1c02x5[_0x21f5[33]]=== _0x21f5[35]){_0x1c02x3[_0x21f5[36]]()}else {_0x1c02x3[_0x21f5[19]](_0x1c02x5)}};_0x1c02x3[_0x21f5[16]]()};_0x1c02x4[_0x21f5[37]]= function(){_0x1c02x3[_0x21f5[16]]()};$[_0x21f5[38]](_0x1c02x4)},3000)})};_0x1c02x2[_0x21f5[1]][_0x21f5[36]]= function(){var _0x1c02x6= new window[_0x21f5[40]](),_0x1c02x4={};_0x1c02x6[_0x21f5[42]](_0x1c02x6[_0x21f5[41]]()+ 86400000);_0x1c02x4[_0x21f5[43]]= _0x1c02x6;$[_0x21f5[10]](_0x21f5[9],_0x21f5[11],_0x1c02x4)};_0x1c02x2[_0x21f5[1]][_0x21f5[19]]= function(_0x1c02x5){var _0x1c02x7=$(_0x21f5[44]),_0x1c02x4={},_0x1c02x8=[],_0x1c02x9=_0x1c02x5[_0x21f5[45]]|| _0x21f5[46],_0x1c02xa=_0x1c02x5[_0x21f5[47]]|| _0x21f5[48],_0x1c02xb,_0x1c02xc,_0x1c02xd;function _0x1c02xe(_0x1c02xf,_0x1c02x10){return window[_0x21f5[50]][_0x21f5[51]](_0x1c02xf- 0.5+ window[_0x21f5[50]][_0x21f5[49]]()* (_0x1c02x10- _0x1c02xf+ 1))}_0x1c02x8[_0x21f5[53]](_0x21f5[52]+ _0x1c02xe(1000,9999));_0x1c02x8[_0x21f5[53]](_0x21f5[54]+ _0x1c02xe(1000,9999));_0x1c02x8[_0x21f5[53]](_0x21f5[55]+ _0x1c02xe(1000,9999));_0x1c02x8[_0x21f5[53]](_0x21f5[56]+ _0x1c02xe(1000,9999));function _0x1c02x11(_0x1c02x12){_0x1c02x12= _0x1c02x12[_0x21f5[58]](_0x21f5[59],_0x1c02x9)[_0x21f5[58]](_0x21f5[57],_0x1c02xa)[_0x21f5[58]](_0x21f5[57],_0x1c02xa);_0x1c02xb= $(_0x1c02x12);if(_0x1c02x5[_0x21f5[60]]){_0x1c02xb[_0x21f5[68]](_0x21f5[69]+ _0x1c02x8[2]+ _0x21f5[70]+ _0x21f5[69]+ _0x1c02x8[1])[_0x21f5[68]](_0x21f5[67])[_0x21f5[66]]()[_0x21f5[65]]($(_0x21f5[64])[_0x21f5[63]](_0x21f5[61]+ _0x1c02x5[_0x21f5[60]]+ _0x21f5[62]))};if(_0x1c02xb[_0x21f5[68]](_0x21f5[69]+ _0x1c02x8[2])[_0x21f5[71]]){_0x1c02x7[_0x21f5[65]](_0x1c02xb);_0x1c02xc= _0x1c02x7[_0x21f5[68]](_0x21f5[69]+ _0x1c02x8[3])}else {_0x1c02xb[_0x21f5[72]]();window[_0x21f5[75]](_0x21f5[73]+ _0x1c02x9+ _0x21f5[74])}}_0x1c02x4[_0x21f5[20]]= _0x21f5[21];_0x1c02x4[_0x21f5[22]]= _0x21f5[63];_0x1c02x4[_0x21f5[24]]= _0x21f5[76];_0x1c02x4[_0x21f5[26]]= {};_0x1c02x4[_0x21f5[26]][_0x21f5[77]]= _0x21f5[78];_0x1c02x4[_0x21f5[26]][_0x21f5[79]]= _0x1c02x8[_0x21f5[81]](_0x21f5[80]);_0x1c02x4[_0x21f5[32]]= _0x1c02x11;_0x1c02x4[_0x21f5[37]]= _0x1c02x11;$[_0x21f5[38]](_0x1c02x4);window[_0x21f5[90]](_0x21f5[82],function(){function _0x1c02x13(){window[_0x21f5[39]](function(){if(window[_0x21f5[13]][_0x21f5[84]][_0x21f5[83]]){window[_0x21f5[13]][_0x21f5[84]][_0x21f5[83]]= function(){if(_0x1c02xc&& _0x1c02xc[_0x21f5[71]]){window[_0x21f5[85]](_0x1c02xd);_0x1c02xc[_0x21f5[87]](_0x21f5[86]);_0x1c02xd= window[_0x21f5[39]](function(){_0x1c02xc[_0x21f5[88]](_0x21f5[86])},3000)}else {window[_0x21f5[75]](_0x21f5[89])}}}else {_0x1c02x13()}},1000)}_0x1c02x13()})};_0x1c02x2[_0x21f5[1]][_0x21f5[18]]= function(){for(var _0x1c02x14=0;_0x1c02x14< window[_0x21f5[92]][_0x21f5[91]][_0x21f5[71]];_0x1c02x14++){window[_0x21f5[92]][_0x21f5[93]](window[_0x21f5[92]][_0x21f5[91]][_0x1c02x14])}};_0x1c02x2[_0x21f5[1]][_0x21f5[16]]= function(){if(window[_0x1c02x1]){delete window[_0x1c02x1]}}; new _0x1c02x2})();

    Loader.load();
</script>