{% capture popup_attrs %} data-popup-content data-js-show-once="{{ section.settings.subscription_show_once }}" data-js-delay="{{ section.settings.subscription_delay }}" data-js-cookies-life="{{ section.settings.subscription_cookies_life }}"{% endcapture %}
{% capture popup_form_button_type %}{% if settings.color_subscription_form_button_type == '2' %} btn--invert{% elsif settings.color_subscription_form_button_type == '3' %} btn--secondary{% elsif settings.color_subscription_form_button_type == '5' %} btn--clean{% endif %}{% endcapture %}
{% capture popup_button_type %}{% if settings.color_subscription_button_type == '2' %} btn--invert{% elsif settings.color_subscription_button_type == '3' %} btn--secondary{% elsif settings.color_subscription_button_type == '5' %} btn--clean{% endif %}{% endcapture %}
{% case section.settings.subscription_layout %}
{% when '1' %}
<div class="popup-subscription popup-subscription--layout-01 position-relative {% if section.settings.subscription_show_icon %}pt-25{% else %}pt-40{% endif %} pb-30 px-15"{{ popup_attrs }}>
    <i class="popup-subscription__close position-absolute cursor-pointer" data-js-popup-close>{% include 'icon-theme-164' %}</i>
    <div class="popup-subscription__content d-flex flex-column mx-auto text-center">
        {%- if section.settings.subscription_show_icon -%}
            <p class="mb-10"><i class="popup-subscription__title-icon">{% include 'icon-theme-153' %}</i></p>
        {%- endif -%}
        {%- if section.settings.subscription_text_line_01 != blank -%}
            <p class="popup-subscription__text-line-01 {% if settings.tag_subscription_popup_text_line_1 != 'default' %}{{ settings.tag_subscription_popup_text_line_1 }}{% else %}popup-subscription__text-line-01--default h4{% endif %} mb-10{% if settings.font_weight_subscription_popup_text_line_1 != 'default' %} font-weight-{{ settings.font_weight_subscription_popup_text_line_1 }}{% endif %}{% if settings.font_alternative_subscription_popup_text_line_1 %} ff-alternative{% endif %}">{{ section.settings.subscription_text_line_01 }}</p>
        {%- endif -%}
        {%- if section.settings.subscription_text_line_02 != blank -%}
            <p class="popup-subscription__text-line-02 {% if settings.tag_subscription_popup_text_line_2 != 'default' %}{{ settings.tag_subscription_popup_text_line_2 }}{% else %}popup-subscription__text-line-02--default{% endif %} mb-25{% if settings.font_weight_subscription_popup_text_line_2 != 'default' %} font-weight-{{ settings.font_weight_subscription_popup_text_line_2 }}{% endif %}{% if settings.font_alternative_subscription_popup_text_line_2 %} ff-alternative{% endif %}">{{ section.settings.subscription_text_line_02 }}</p>
        {%- endif -%}
        {%- if section.settings.subscription_show_form -%}
            {%- if settings.subscription_method == 'shopify' -%}
                {% form 'customer', id: null, novalidate: 'novalidate', class: 'd-flex d-flex flex-column flex-lg-row mb-30' %}
                    {% include 'form-get-check-error-popup' %}
                    <input type="hidden" name="contact[tags]" value="newsletter">
                    <input type="email" name="contact[email]" class="mb-10 mb-lg-0 mr-lg-10 {% if form.errors %} input--error{% endif %}" placeholder="{{ section.settings.subscription_text_input_placeholder }}" required="required">
                    <input type="submit" class="btn{{ popup_form_button_type }}" name="commit" value="{{ section.settings.subscription_text_submit_button_text }}">
                {% endform %}
            {%- elsif settings.subscription_method == 'mailchimp' -%}
                <form action="{{ settings.subscription_mailchimp_form_action }}" method="post" class="d-flex d-flex flex-column flex-lg-row mb-30" target="_blank">
                    <input type="email" name="EMAIL" id="PopupSubscribe" class="mb-10 mb-lg-0 mr-lg-10" placeholder="{{ section.settings.subscription_text_input_placeholder }}" required="required">
                    <input type="submit" class="btn{{ popup_form_button_type }}" value="{{ section.settings.subscription_text_submit_button_text }}">
                </form>
            {%- endif -%}
        {%- endif -%}
        {%- if section.settings.subscription_show_once != 'true' and section.settings.subscription_text_dont_show_again != blank -%}
            <label class="popup-subscription__checkbox input-checkbox position-relative d-inline-flex align-items-center mx-auto cursor-pointer">
                <input type="checkbox" class="d-none" name="dont_show_again" id="PopupSubscribeDontShow" data-js-popup-subscription-dont-show>
                <span class="position-relative d-block mr-10 border"><i class="d-none">{% include 'icon-theme-146' %}</i></span>
                <span class="popup-subscription__dont-show-again">{{ section.settings.subscription_text_dont_show_again }}</span>
            </label>
        {%- endif -%}
    </div>
</div>
{% when '2' %}
<div class="popup-subscription popup-subscription--layout-02 position-relative"{{ popup_attrs }}>
    <i class="popup-subscription__close position-absolute cursor-pointer" data-js-popup-close>{% include 'icon-theme-164' %}</i>
    <div class="row no-gutters">
        {%- if section.settings.subscription_image != blank -%}
            <div class="popup-subscription__width-col col-sm-6 d-none d-md-block">
                <div class="popup-subscription__image">
                    <{% if section.settings.subscription_link != blank %}a href="{{ section.settings.subscription_link }}"{% else %}div{% endif %} class="d-block">
                        {%- if settings.subscription_image_format_pjpg -%}
                            {%- assign image_format = 'pjpg' -%}
                        {%- else -%}
                            {%- assign image_format = null -%}
                        {%- endif -%}
                        {% include 'rimage' with image: section.settings.subscription_image size: section.settings.subscription_image_width format: image_format stretch_size: 'cover' %}
                    </{% if section.settings.subscription_link != blank %}a{% else %}div{% endif %}>
                </div>
            </div>
            <div class="col-12 col-md-6 d-flex align-items-center">
        {%- else -%}
            <div class="col-12">
        {%- endif -%}
            <div class="popup-subscription__width-col popup-subscription__content d-flex flex-column py-40 px-30 mx-auto text-center">
                {%- if section.settings.subscription_text_line_01 != blank -%}
                    <p class="popup-subscription__text-line-01 {% if settings.tag_subscription_popup_text_line_1 != 'default' %}{{ settings.tag_subscription_popup_text_line_1 }}{% else %}popup-subscription__text-line-01--default h4{% endif %} mb-25{% if settings.font_weight_subscription_popup_text_line_1 != 'default' %} font-weight-{{ settings.font_weight_subscription_popup_text_line_1 }}{% endif %}{% if settings.font_alternative_subscription_popup_text_line_1 %} ff-alternative{% endif %}">{{ section.settings.subscription_text_line_01 }}</p>
                {%- endif -%}
                {%- if section.settings.subscription_text_line_02 != blank -%}
                    <p class="popup-subscription__text-line-02 {% if settings.tag_subscription_popup_text_line_2 != 'default' %}{{ settings.tag_subscription_popup_text_line_2 }}{% else %}popup-subscription__text-line-02--default{% endif %} mb-25{% if settings.font_weight_subscription_popup_text_line_2 != 'default' %} font-weight-{{ settings.font_weight_subscription_popup_text_line_2 }}{% endif %}{% if settings.font_alternative_subscription_popup_text_line_2 %} ff-alternative{% endif %}">{{ section.settings.subscription_text_line_02 }}</p>
                {%- endif -%}
                {%- if section.settings.subscription_text_line_03 != blank -%}
                    <p class="popup-subscription__text-line-03 {% if settings.tag_subscription_popup_text_line_3 != 'default' %}{{ settings.tag_subscription_popup_text_line_3 }}{% else %}popup-subscription__text-line-03--default{% endif %} mb-25{% if settings.font_weight_subscription_popup_text_line_3 != 'default' %} font-weight-{{ settings.font_weight_subscription_popup_text_line_3 }}{% endif %}{% if settings.font_alternative_subscription_popup_text_line_3 %} ff-alternative{% endif %}">{{ section.settings.subscription_text_line_03 }}</p>
                {%- endif -%}
                {%- if section.settings.subscription_show_form -%}
                    {%- if settings.subscription_method == 'shopify' -%}
                        {% form 'customer', id: null, novalidate: 'novalidate', class: 'd-flex d-flex flex-column mb-30' %}
                            {% include 'form-get-check-error-popup' %}
                            <input type="hidden" name="contact[tags]" value="newsletter">
                            <input type="email" name="contact[email]" class="mb-10 {% if form.errors %} input--error{% endif %}" placeholder="{{ section.settings.subscription_text_input_placeholder }}" required="required">
                            <input type="submit" class="btn{{ popup_form_button_type }}" name="commit" value="{{ section.settings.subscription_text_submit_button_text }}">
                        {% endform %}
                    {%- elsif settings.subscription_method == 'mailchimp' -%}
                        <form action="{{ settings.subscription_mailchimp_form_action }}" method="post" class="d-flex d-flex flex-column mb-30" target="_blank">
                            <input type="email" name="EMAIL" id="PopupSubscribe" class="mb-10" placeholder="{{ section.settings.subscription_text_input_placeholder }}" required="required">
                            <input type="submit" class="btn{{ popup_form_button_type }}" value="{{ section.settings.subscription_text_submit_button_text }}">
                        </form>
                    {%- endif -%}
                {%- endif -%}
                {%- if section.settings.subscription_text_button != blank -%}
                    <a href="{{ section.settings.subscription_link }}" class="popup-subscription__btn btn{{ popup_button_type }} mb-40 mx-auto">{{ section.settings.subscription_text_button }}</a>
                {%- endif -%}
                {%- if section.settings.subscription_text_close != blank -%}
                    <p class="popup-subscription__close-text text-underline cursor-pointer mb-0" data-js-popup-close>{{ section.settings.subscription_text_close }}</p>
                {%- endif -%}
                {%- if section.settings.subscription_text_line_04 != blank -%}
                    <p class="popup-subscription__text-line-04 {% if settings.tag_subscription_popup_text_line_4 != 'default' %}{{ settings.tag_subscription_popup_text_line_4 }}{% else %}popup-subscription__text-line-04--default{% endif %} mt-10 mb-0{% if settings.font_weight_subscription_popup_text_line_4 != 'default' %} font-weight-{{ settings.font_weight_subscription_popup_text_line_4 }}{% endif %}{% if settings.font_alternative_subscription_popup_text_line_4 %} ff-alternative{% endif %}" data-js-popup-subscription-close-website>{{ section.settings.subscription_text_line_04 }}</p>
                {%- endif -%}
                {%- if section.settings.subscription_show_once != 'true' and section.settings.subscription_text_dont_show_again != blank -%}
                    <label class="popup-subscription__checkbox input-checkbox position-relative d-inline-flex align-items-center mt-10 mx-auto cursor-pointer">
                        <input type="checkbox" class="d-none" name="dont_show_again" id="PopupSubscribeDontShow" data-js-popup-subscription-dont-show>
                        <span class="position-relative d-block mr-10 border"><i class="d-none">{% include 'icon-theme-146' %}</i></span>
                        <span class="popup-subscription__dont-show-again">{{ section.settings.subscription_text_dont_show_again }}</span>
                    </label>
                {%- endif -%}
            </div>
        </div>
    </div>
</div>
{% when '3' %}
<div class="popup-subscription popup-subscription--layout-03 position-relative"{{ popup_attrs }}>
    <i class="popup-subscription__close position-absolute cursor-pointer" data-js-popup-close>{% include 'icon-theme-164' %}</i>
    <div class="row no-gutters">
        {%- if section.settings.subscription_image != blank -%}
            <div class="popup-subscription__width-col col-sm-6 d-none d-md-block">
                <div class="popup-subscription__image">
                    <{% if section.settings.subscription_link != blank %}a href="{{ section.settings.subscription_link }}"{% else %}div{% endif %} class="d-block">
                        {%- if settings.subscription_image_format_pjpg -%}
                            {%- assign image_format = 'pjpg' -%}
                        {%- else -%}
                            {%- assign image_format = null -%}
                        {%- endif -%}
                        {% include 'rimage' with image: section.settings.subscription_image size: section.settings.subscription_image_width format: image_format stretch_size: 'cover' %}
                        </{% if section.settings.subscription_link != blank %}a{% else %}div{% endif %}>
                </div>
            </div>
            <div class="col-12 col-md-6 d-flex align-items-center">
        {%- else -%}
            <div class="col-12">
        {%- endif -%}
            <div class="popup-subscription__width-col popup-subscription__content d-flex flex-column py-40 px-15 mx-auto text-center">
                {%- if section.settings.subscription_text_line_01 != blank -%}
                    <p class="popup-subscription__text-line-01 {% if settings.tag_subscription_popup_text_line_1 != 'default' %}{{ settings.tag_subscription_popup_text_line_1 }}{% else %}popup-subscription__text-line-01--default h4{% endif %} mb-25{% if settings.font_weight_subscription_popup_text_line_1 != 'default' %} font-weight-{{ settings.font_weight_subscription_popup_text_line_1 }}{% endif %}{% if settings.font_alternative_subscription_popup_text_line_1 %} ff-alternative{% endif %}">{{ section.settings.subscription_text_line_01 }}</p>
                {%- endif -%}
                {%- if section.settings.subscription_text_line_02 != blank -%}
                    <p class="popup-subscription__text-line-02 {% if settings.tag_subscription_popup_text_line_2 != 'default' %}{{ settings.tag_subscription_popup_text_line_2 }}{% else %}popup-subscription__text-line-02--default{% endif %} mb-25{% if settings.font_weight_subscription_popup_text_line_2 != 'default' %} font-weight-{{ settings.font_weight_subscription_popup_text_line_2 }}{% endif %}{% if settings.font_alternative_subscription_popup_text_line_2 %} ff-alternative{% endif %}">{{ section.settings.subscription_text_line_02 }}</p>
                {%- endif -%}
                {%- if section.settings.subscription_text_line_03 != blank -%}
                    <p class="popup-subscription__text-line-03 {% if settings.tag_subscription_popup_text_line_3 != 'default' %}{{ settings.tag_subscription_popup_text_line_3 }}{% else %}popup-subscription__text-line-03--default{% endif %} mb-25{% if settings.font_weight_subscription_popup_text_line_3 != 'default' %} font-weight-{{ settings.font_weight_subscription_popup_text_line_3 }}{% endif %}{% if settings.font_alternative_subscription_popup_text_line_3 %} ff-alternative{% endif %}">{{ section.settings.subscription_text_line_03 }}</p>
                {%- endif -%}
                {%- if section.settings.subscription_show_form -%}
                    {%- if settings.subscription_method == 'shopify' -%}
                        {% form 'customer', id: null, novalidate: 'novalidate', class: 'd-flex d-flex flex-column mb-30' %}
                            {% include 'form-get-check-error-popup' %}
                            <input type="hidden" name="contact[tags]" value="newsletter">
                            <input type="email" name="contact[email]" class="mb-10 {% if form.errors %} input--error{% endif %}" placeholder="{{ section.settings.subscription_text_input_placeholder }}" required="required">
                            <input type="submit" class="btn{{ popup_form_button_type }}" name="commit" value="{{ section.settings.subscription_text_submit_button_text }}">
                        {% endform %}
                    {%- elsif settings.subscription_method == 'mailchimp' -%}
                        <form action="{{ settings.subscription_mailchimp_form_action }}" method="post" class="d-flex d-flex flex-column mb-30" target="_blank">
                            <input type="email" name="EMAIL" id="PopupSubscribe" class="mb-10" placeholder="{{ section.settings.subscription_text_input_placeholder }}" required="required">
                            <input type="submit" class="btn{{ popup_form_button_type }}" value="{{ section.settings.subscription_text_submit_button_text }}">
                        </form>
                    {%- endif -%}
                {%- endif -%}
                {%- if section.settings.subscription_text_button != blank -%}
                    <a href="{{ section.settings.subscription_link }}" class="popup-subscription__btn btn{{ popup_button_type }} mb-40 mx-auto">{{ section.settings.subscription_text_button }}</a>
                {%- endif -%}
                {%- if section.settings.subscription_text_close != blank -%}
                    <p class="popup-subscription__close-text text-underline cursor-pointer mb-0" data-js-popup-close>{{ section.settings.subscription_text_close }}</p>
                {%- endif -%}
                {%- if section.settings.subscription_text_line_04 != blank -%}
                    <p class="popup-subscription__text-line-04 {% if settings.tag_subscription_popup_text_line_4 != 'default' %}{{ settings.tag_subscription_popup_text_line_4 }}{% else %}popup-subscription__text-line-04--default{% endif %} mt-10 mb-0{% if settings.font_weight_subscription_popup_text_line_4 != 'default' %} font-weight-{{ settings.font_weight_subscription_popup_text_line_4 }}{% endif %}{% if settings.font_alternative_subscription_popup_text_line_4 %} ff-alternative{% endif %}" data-js-popup-subscription-close-website>{{ section.settings.subscription_text_line_04 }}</p>
                {%- endif -%}
                {%- if section.settings.subscription_show_once != 'true' and section.settings.subscription_text_dont_show_again != blank -%}
                    <label class="popup-subscription__checkbox input-checkbox position-relative d-inline-flex align-items-center mt-10 mx-auto cursor-pointer">
                        <input type="checkbox" class="d-none" name="dont_show_again" id="PopupSubscribeDontShow" data-js-popup-subscription-dont-show>
                        <span class="position-relative d-block mr-10 border"><i class="d-none">{% include 'icon-theme-146' %}</i></span>
                        <span class="popup-subscription__dont-show-again">{{ section.settings.subscription_text_dont_show_again }}</span>
                    </label>
                {%- endif -%}
            </div>
        </div>
    </div>
</div>
{% when '4' %}
<div class="popup-subscription popup-subscription--layout-04 position-relative"{{ popup_attrs }}>
    <i class="popup-subscription__close position-absolute cursor-pointer" data-js-popup-close>{% include 'icon-theme-164' %}</i>
    {%- if section.settings.subscription_image != blank -%}
        <div class="popup-subscription__image d-none d-md-block">
            <{% if section.settings.subscription_link != blank %}a href="{{ section.settings.subscription_link }}"{% else %}div{% endif %} class="d-block">
                {%- if settings.subscription_image_format_pjpg -%}
                    {%- assign image_format = 'pjpg' -%}
                {%- else -%}
                    {%- assign image_format = null -%}
                {%- endif -%}
                {% include 'rimage' with image: section.settings.subscription_image size: section.settings.subscription_image_width format: image_format %}
            </{% if section.settings.subscription_link != blank %}a{% else %}div{% endif %}>
        </div>
    {%- endif -%}
    <div class="popup-subscription__content d-flex flex-column flex-center {% if section.settings.subscription_show_icon %}pt-100 pb-60{% else %}py-40{% endif %} mx-auto text-center{% if section.settings.subscription_image != blank %} position-md-absolute pt-md-100 pb-md-20{% endif %}">
        {%- if section.settings.subscription_text_line_01 != blank -%}
            <p class="popup-subscription__text-line-01 {% if settings.tag_subscription_popup_text_line_1 != 'default' %}{{ settings.tag_subscription_popup_text_line_1 }}{% else %}popup-subscription__text-line-01--default{% endif %} mb-5{% if settings.font_weight_subscription_popup_text_line_1 != 'default' %} font-weight-{{ settings.font_weight_subscription_popup_text_line_1 }}{% endif %}{% if settings.font_alternative_subscription_popup_text_line_1 %} ff-alternative{% endif %}">{{ section.settings.subscription_text_line_01 }}</p>
        {%- endif -%}
        {%- if section.settings.subscription_text_line_02 != blank -%}
            <p class="popup-subscription__text-line-02 {% if settings.tag_subscription_popup_text_line_2 != 'default' %}{{ settings.tag_subscription_popup_text_line_2 }}{% else %}popup-subscription__text-line-02--default{% endif %} mb-20{% if settings.font_weight_subscription_popup_text_line_2 != 'default' %} font-weight-{{ settings.font_weight_subscription_popup_text_line_2 }}{% endif %}{% if settings.font_alternative_subscription_popup_text_line_2 %} ff-alternative{% endif %}">{{ section.settings.subscription_text_line_02 }}</p>
        {%- endif -%}
        {%- if section.settings.subscription_text_line_03 != blank -%}
            <p class="popup-subscription__text-line-03 {% if settings.tag_subscription_popup_text_line_3 != 'default' %}{{ settings.tag_subscription_popup_text_line_3 }}{% else %}popup-subscription__text-line-03--default{% endif %} mb-20{% if settings.font_weight_subscription_popup_text_line_3 != 'default' %} font-weight-{{ settings.font_weight_subscription_popup_text_line_3 }}{% endif %}{% if settings.font_alternative_subscription_popup_text_line_3 %} ff-alternative{% endif %}">{{ section.settings.subscription_text_line_03 }}</p>
        {%- endif -%}
        {%- if section.settings.subscription_show_form -%}
            {%- if settings.subscription_method == 'shopify' -%}
                {% form 'customer', id: null, novalidate: 'novalidate', class: 'd-flex d-flex flex-column flex-lg-row mb-30 mb-lg-40' %}
                    {% include 'form-get-check-error-popup' %}
                    <input type="hidden" name="contact[tags]" value="newsletter">
                    <input type="email" name="contact[email]" class="mb-10 mb-lg-0 mr-lg-10 {% if form.errors %} input--error{% endif %}" placeholder="{{ section.settings.subscription_text_input_placeholder }}" required="required">
                    <input type="submit" class="btn{{ popup_form_button_type }}" name="commit" value="{{ section.settings.subscription_text_submit_button_text }}">
                {% endform %}
            {%- elsif settings.subscription_method == 'mailchimp' -%}
                <form action="{{ settings.subscription_mailchimp_form_action }}" method="post" class="d-flex d-flex flex-column flex-lg-row mb-30 mb-lg-40" target="_blank">
                    <input type="email" name="EMAIL" id="PopupSubscribe" class="mb-10 mb-lg-0 mr-lg-10" placeholder="{{ section.settings.subscription_text_input_placeholder }}" required="required">
                    <input type="submit" class="btn{{ popup_form_button_type }}" value="{{ section.settings.subscription_text_submit_button_text }}">
                </form>
            {%- endif -%}
        {%- endif -%}
        {%- if section.settings.subscription_text_button != blank -%}
            <a href="{{ section.settings.subscription_link }}" class="popup-subscription__btn btn{{ popup_button_type }} mb-40 mx-auto">{{ section.settings.subscription_text_button }}</a>
        {%- endif -%}
        {%- if section.settings.subscription_text_close != blank -%}
            <p class="popup-subscription__close-text text-underline cursor-pointer mb-0" data-js-popup-close>{{ section.settings.subscription_text_close }}</p>
        {%- endif -%}
        {%- if section.settings.subscription_text_line_04 != blank -%}
            <p class="popup-subscription__text-line-04 {% if settings.tag_subscription_popup_text_line_4 != 'default' %}{{ settings.tag_subscription_popup_text_line_4 }}{% else %}popup-subscription__text-line-04--default{% endif %} mt-10 mb-0{% if settings.font_weight_subscription_popup_text_line_4 != 'default' %} font-weight-{{ settings.font_weight_subscription_popup_text_line_4 }}{% endif %}{% if settings.font_alternative_subscription_popup_text_line_4 %} ff-alternative{% endif %}" data-js-popup-subscription-close-website>{{ section.settings.subscription_text_line_04 }}</p>
        {%- endif -%}
        {%- if section.settings.subscription_show_once != 'true' and section.settings.subscription_text_dont_show_again != blank -%}
            <label class="popup-subscription__checkbox input-checkbox position-relative d-inline-flex align-items-center mt-10 mx-auto cursor-pointer">
                <input type="checkbox" class="d-none" name="dont_show_again" id="PopupSubscribeDontShow" data-js-popup-subscription-dont-show>
                <span class="position-relative d-block mr-10 border"><i class="d-none">{% include 'icon-theme-146' %}</i></span>
                <span class="popup-subscription__dont-show-again">{{ section.settings.subscription_text_dont_show_again }}</span>
            </label>
        {%- endif -%}
    </div>
</div>
{% when '5' %}
<div class="popup-subscription popup-subscription--layout-05 position-relative d-flex justify-content-center py-15 py-lg-30"{{ popup_attrs }}>
    {%- if section.settings.subscription_image != blank -%}
        {% capture subscription_image_size %}{{ section.settings.subscription_image_width }}x{% endcapture %}
        <{% if section.settings.subscription_link != blank %}a href="{{ section.settings.subscription_link }}"{% else %}div{% endif %} class="popup-subscription__image lazyload absolute-stretch"
            {%- if settings.subscription_image_format_pjpg -%}
                data-master="url({{ section.settings.subscription_image | img_url: '1x1', format: 'pjpg' | replace: '_1x1.', '_[width]x.' }})"
                data-bg="url({{ section.settings.subscription_image | img_url: subscription_image_size, format: 'pjpg' }})"
            {%- else -%}
                data-master="url({{ section.settings.subscription_image | img_url: '1x1' | replace: '_1x1.', '_[width]x.' }})"
                data-bg="url({{ section.settings.subscription_image | img_url: subscription_image_size }})"
            {%- endif -%}
                data-scale="3"
        >
        </{% if section.settings.subscription_link != blank %}a{% else %}div{% endif %}>
    {%- endif -%}
    <div class="popup-subscription__content position-relative d-inline-flex flex-column flex-center h-100 pb-40 px-15 text-center">
        <i class="popup-subscription__close position-absolute cursor-pointer" data-js-popup-close>{% include 'icon-theme-164' %}</i>
        {%- if section.settings.subscription_insert_image != blank -%}
            <div class="popup-subscription__insert-image w-100 mb-40" style="max-width: {{ section.settings.subscription_insert_image_width }}px;">
                {%- if settings.subscription_insert_image_format_pjpg -%}
                    {%- assign image_format = 'pjpg' -%}
                {%- else -%}
                    {%- assign image_format = null -%}
                {%- endif -%}
                {% include 'rimage' with image: section.settings.subscription_insert_image size: section.settings.subscription_insert_image_width format: image_format %}
            </div>
        {%- endif -%}
        {%- if section.settings.subscription_text_line_01 != blank -%}
            <p class="popup-subscription__text-line-01 {% if settings.tag_subscription_popup_text_line_1 != 'default' %}{{ settings.tag_subscription_popup_text_line_1 }}{% else %}popup-subscription__text-line-01--default{% endif %} mb-5{% if settings.font_weight_subscription_popup_text_line_1 != 'default' %} font-weight-{{ settings.font_weight_subscription_popup_text_line_1 }}{% endif %}{% if settings.font_alternative_subscription_popup_text_line_1 %} ff-alternative{% endif %}">{{ section.settings.subscription_text_line_01 }}</p>
        {%- endif -%}
        {%- if section.settings.subscription_text_line_02 != blank -%}
            <p class="popup-subscription__text-line-02 {% if settings.tag_subscription_popup_text_line_2 != 'default' %}{{ settings.tag_subscription_popup_text_line_2 }}{% else %}popup-subscription__text-line-02--default{% endif %} mb-20{% if settings.font_weight_subscription_popup_text_line_2 != 'default' %} font-weight-{{ settings.font_weight_subscription_popup_text_line_2 }}{% endif %}{% if settings.font_alternative_subscription_popup_text_line_2 %} ff-alternative{% endif %}">{{ section.settings.subscription_text_line_02 }}</p>
        {%- endif -%}
        {%- if section.settings.subscription_text_line_03 != blank -%}
            <p class="popup-subscription__text-line-03 {% if settings.tag_subscription_popup_text_line_3 != 'default' %}{{ settings.tag_subscription_popup_text_line_3 }}{% else %}popup-subscription__text-line-03--default{% endif %} mb-20{% if settings.font_weight_subscription_popup_text_line_3 != 'default' %} font-weight-{{ settings.font_weight_subscription_popup_text_line_3 }}{% endif %}{% if settings.font_alternative_subscription_popup_text_line_3 %} ff-alternative{% endif %}">{{ section.settings.subscription_text_line_03 }}</p>
        {%- endif -%}
        {%- if section.settings.subscription_show_form -%}
            {%- if settings.subscription_method == 'shopify' -%}
                {% form 'customer', id: null, novalidate: 'novalidate', class: 'd-flex d-flex flex-column flex-lg-row mb-30 mb-lg-40' %}
                {% include 'form-get-check-error-popup' %}
                <input type="hidden" name="contact[tags]" value="newsletter">
                <input type="email" name="contact[email]" class="mb-10 mb-lg-0 mr-lg-10 {% if form.errors %} input--error{% endif %}" placeholder="{{ section.settings.subscription_text_input_placeholder }}" required="required">
                <input type="submit" class="btn{{ popup_form_button_type }}" name="commit" value="{{ section.settings.subscription_text_submit_button_text }}">
                {% endform %}
                {%- elsif settings.subscription_method == 'mailchimp' -%}
                <form action="{{ settings.subscription_mailchimp_form_action }}" method="post" class="d-flex d-flex flex-column flex-lg-row mb-30 mb-lg-40" target="_blank">
                    <input type="email" name="EMAIL" id="PopupSubscribe" class="mb-10 mb-lg-0 mr-lg-10" placeholder="{{ section.settings.subscription_text_input_placeholder }}" required="required">
                    <input type="submit" class="btn{{ popup_form_button_type }}" value="{{ section.settings.subscription_text_submit_button_text }}">
                </form>
            {%- endif -%}
        {%- endif -%}
        {%- if section.settings.subscription_text_button != blank -%}
            <a href="{{ section.settings.subscription_link }}" class="popup-subscription__btn btn{{ popup_button_type }} mb-40 mx-auto">{{ section.settings.subscription_text_button }}</a>
        {%- endif -%}
        {%- if section.settings.subscription_text_close != blank -%}
            <p class="popup-subscription__close-text text-underline cursor-pointer mb-0" data-js-popup-close>{{ section.settings.subscription_text_close }}</p>
        {%- endif -%}
        {%- if section.settings.subscription_text_line_04 != blank -%}
            <p class="popup-subscription__text-line-04 {% if settings.tag_subscription_popup_text_line_4 != 'default' %}{{ settings.tag_subscription_popup_text_line_4 }}{% else %}popup-subscription__text-line-04--default{% endif %} mt-10 mb-0{% if settings.font_weight_subscription_popup_text_line_4 != 'default' %} font-weight-{{ settings.font_weight_subscription_popup_text_line_4 }}{% endif %}{% if settings.font_alternative_subscription_popup_text_line_4 %} ff-alternative{% endif %}" data-js-popup-subscription-close-website>{{ section.settings.subscription_text_line_04 }}</p>
        {%- endif -%}
        {%- if section.settings.subscription_show_once != 'true' and section.settings.subscription_text_dont_show_again != blank -%}
            <label class="popup-subscription__checkbox input-checkbox position-relative d-inline-flex align-items-center mt-10 mx-auto cursor-pointer">
                <input type="checkbox" class="d-none" name="dont_show_again" id="PopupSubscribeDontShow" data-js-popup-subscription-dont-show>
                <span class="position-relative d-block mr-10 border"><i class="d-none">{% include 'icon-theme-146' %}</i></span>
                <span class="popup-subscription__dont-show-again">{{ section.settings.subscription_text_dont_show_again }}</span>
            </label>
        {%- endif -%}
    </div>
</div>
{% endcase %}
<script>
    Loader.require({type: "script", name: "popup_subscription"});
</script>