<div class="popup-size-guide position-relative py-30 px-15" data-popup-content>
    <i class="popup-size-guide__close position-absolute cursor-pointer" data-js-popup-close>{% include 'icon-theme-164' %}</i>
    <div class="popup-size-guide__content mx-auto">
        <div class="rte">
            {%- if product.metafields.sizeguide.html and product.metafields.sizeguide.html != 'hide' -%}
                {{ product.metafields.sizeguide.html }}
            {%- else -%}
                {%- if section.settings.size_guide_page_content != blank -%}
                    {% include 'content-load-template' content: pages[section.settings.size_guide_page_content].content %}
                {%- else -%}
                    {% include 'content-load-template' content: section.settings.size_guide_content %}
                {%- endif -%}
            {%- endif -%}
        </div>
    </div>
</div>