{%- assign disabled_value = true -%}
{%- assign active_value = false -%}
{%- for variant in product.variants -%}
    {%- if variant.available != true and settings.product_hide_options_without_availability_variants -%}
        {%- continue -%}
    {%- endif -%}
    {%- if option_index0 == 0 and value == variant.option1 -%}
        {%- assign disabled_value = false -%}
        {%- break -%}
    {%- elsif option_index0 == 1 and current_variant.option1 == variant.option1 and value == variant.option2 -%}
        {%- assign disabled_value = false -%}
        {%- break -%}
    {%- elsif option_index0 == 2 and current_variant.option1 == variant.option1 and current_variant.option2 == variant.option2 and value == variant.option3 -%}
        {%- assign disabled_value = false -%}
        {%- break -%}
    {%- endif -%}
{%- endfor -%}
{%- unless disabled_value == true -%}
    {%- if product.options contains option.name -%}
        {%- if current_variant.option1 == value or current_variant.option2 == value or current_variant.option3 == value -%}
            {%- assign active_value = true -%}
        {%- endif -%}
    {%- endif -%}
{%- endunless -%}
{% capture trigger_attr %}{% if trigger %} data-js-trigger="{{ trigger }}-{% include 'product-get-options-strip-symbols' with value: option.name %}-{% include 'product-get-options-strip-symbols' with value: value %}"{% elsif trigger_id %} data-js-trigger-id="{{ trigger_id }}-{% include 'product-get-options-strip-symbols' with value: option.name %}-{% include 'product-get-options-strip-symbols' with value: value %}"{% endif %}{% endcapture %}