{%- assign product_margin_bottom = null -%}
{%- assign image_size = null -%}
{%- assign show_label_in_stock = null -%}
{%- assign show_label_out_stock = null -%}
{%- assign show_label_sale = null -%}
{%- assign show_label_new = null -%}
{%- assign show_label_hot = null -%}
{%- assign show_countdown = null -%}
{%- assign show_images_navigation = null -%}
{%- assign show_collections = null -%}
{%- assign show_title = null -%}
{%- assign show_variant = null -%}
{%- assign show_sku = null -%}
{%- assign show_barcode = null -%}
{%- assign show_availability = null -%}
{%- assign show_type = null -%}
{%- assign show_vendor = null -%}
{%- assign show_description = null -%}
{%- assign show_price = null -%}
{%- assign show_sale_price_separator = null -%}
{%- assign show_options = null -%}
{%- assign show_custom_options = null -%}
{%- assign hide_options_without_availability = null -%}
{%- assign show_quantity = null -%}
{%- assign show_button_add_to_cart = null -%}
{%- assign show_button_add_to_wishlist = null -%}
{%- assign show_button_add_to_compare = null -%}
{%- assign show_button_quick_view = null -%}
{%- assign show_button_remove = null -%}
{%- assign show_reviews = null -%}
{%- assign hide_empty_reviews = null -%}
{%- assign hide_reviews_counter = null -%}
{%- assign hide_reviews_mobile_counter = null -%}
