{% include 'product-res-variables' %}
{%- assign image_size = image_size | default: '200x' -%}
{%- assign show_label_in_stock = show_label_in_stock | default: settings.product_collection_show_label_in_stock -%}
{%- assign show_label_out_stock = show_label_out_stock | default: settings.product_collection_show_label_out_stock -%}
{%- assign show_label_sale = show_label_sale | default: settings.product_collection_show_label_sale -%}
{%- assign show_label_new = show_label_new | default: settings.product_collection_show_label_new -%}
{%- assign show_label_hot = show_label_hot | default: settings.product_collection_show_label_hot -%}
{%- assign show_collections = show_collections | default: settings.product_collection_show_collections -%}
{%- assign show_title = show_title | default: settings.product_collection_show_title -%}
{%- assign show_price = show_price | default: settings.product_collection_show_price -%}
{%- assign show_sale_price_separator = show_sale_price_separator  | default: settings.product_collection_show_sale_price_separator -%}
{%- assign show_button_add_to_cart = show_button_add_to_cart | default: settings.product_collection_show_button_add_to_cart -%}
{%- assign show_button_quick_view = show_button_quick_view | default: settings.product_collection_show_button_quick_view -%}
{%- assign show_button_remove = show_button_remove | default: true -%}
<div class="product-wishlist{% if settings.product_collection_centered_info %} product-wishlist--centered{% endif %} d-flex flex-column mb-30" data-js-product data-js-store-lists-product-wishlist data-product-handle="{{ product.handle }}" data-product-variant-id="{{ current_variant_id }}">
    <div class="product-wishlist__image product-image product-image--hover-{{ settings.product_hover_animation_type }} position-relative w-100 js-product-images-navigation js-product-images-hovered-end">
        {% include 'product-get-images' %}
        {%- if show_label_in_stock or show_label_out_stock or show_label_sale or show_label_new or show_label_hot -%}
            {%- assign label_present = true -%}
        {%- else -%}
            {%- assign label_present = false -%}
        {%- endif -%}
        {%- if label_present or show_button_quick_view -%}
            <div class="product-image__overlay-top position-absolute d-flex flex-wrap top-0 left-0 w-100 px-10 pt-10">
                <a href="{{ url }}" class="absolute-stretch cursor-default"></a>
                {%- if label_present -%}
                    <div class="product-image__overlay-top-left product-wishlist__labels position-relative d-flex flex-column align-items-start mb-10">
                        {%- if show_label_hot -%}
                            {% include 'product-get-label-hot' %}
                        {%- endif -%}
                        {%- if show_label_new -%}
                            {% include 'product-get-label-new' %}
                        {%- endif -%}
                        {%- if show_label_sale -%}
                            {% include 'product-get-label-sale' %}
                        {%- endif -%}
                        {%- if show_label_in_stock -%}
                            {% include 'product-get-label-in-stock' %}
                        {%- endif -%}
                        {%- if show_label_out_stock -%}
                            {% include 'product-get-label-out-stock' %}
                        {%- endif -%}
                    </div>
                {%- endif -%}
                {%- if show_button_quick_view -%}
                    <div class="product-image__overlay-top-right product-wishlist__button-quick-view position-lg-relative d-none d-lg-flex mb-lg-10 ml-lg-auto">
                        {% include 'product-get-button-quick-view' %}
                    </div>
                {%- endif -%}
            </div>
        {%- endif -%}
    </div>
    <div class="product-wishlist__content d-flex flex-column align-items-start mt-15">
        {%- if show_more_info -%}
            {%- case settings.product_collection_more_info_type -%}
                {% when 'type' %}
                    {%- if product.type != blank -%}
                        <div class="product-collection__more-info mb-3">
                            <a href="/collections/all?constraint=custom-filter+type={{ product.type | handleize }}">{{ product.type }}</a>
                        </div>
                    {%- endif -%}
                {% when 'collections' %}
                    {%- if product.collections.size > 0 -%}
                        <div class="product-collection__more-info mb-3">
                            {% include 'product-get-collections' %}
                        </div>
                    {%- endif -%}
                {% when 'vendor' %}
                    {%- if product.vendor.size > 0 -%}
                        <div class="product-collection__more-info mb-3">
                            {%- for vendor in product.vendor -%}
                                <a href="/collections/all?constraint=custom-filter+vendor={{ vendor | handleize }}">{{ vendor }}{% if forloop.last != true %},{% endif %}</a>{% if forloop.last != true %} {% endif %}
                            {%- endfor -%}
                        </div>
                    {%- endif -%}
            {%- endcase -%}
        {%- endif -%}
        {%- if show_title -%}
            <div class="product-wishlist__title mb-3">
                <h3 class="{{ settings.product_collection_title_style_tag }} m-0{% unless settings.font_heading_product_title %} ff-main{% endunless %}">
                    <a href="{{ url }}">{{ title }}</a>
                </h3>
            </div>
        {%- endif -%}
        {%- if show_price -%}
            <div class="product-wishlist__price mb-10">
                {% include 'product-get-price' with price: price compare_at_price: compare_at_price show_sale_separator: show_sale_price_separator %}
            </div>
        {%- endif -%}
        {% form "product", product, id: null, class: "d-flex flex-column w-100 m-0", data-js-product-form: '' %}
            {%- if show_button_add_to_cart -%}
                <div class="product-wishlist__variants d-none">
                    {% include 'product-get-variants' %}
                </div>
            {%- endif -%}
            {%- if show_button_add_to_cart or show_button_quick_view -%}
                <div class="product-wishlist__buttons d-flex flex-column flex-lg-row align-items-lg-center flex-wrap mt-5 mt-lg-10">
                    {%- if show_button_add_to_cart -%}
                        <div class="product-wishlist__button-add-to-cart mb-10">
                            {% include 'product-get-button-cart' %}
                        </div>
                    {%- endif -%}
                    {%- if show_button_quick_view -%}
                        <div class="product-collection__buttons-section d-flex d-lg-none px-lg-10">
                            <div class="product-wishlist__button-quick-view-mobile mb-10">
                                {% include 'product-get-button-quick-view' with type: 'btn-text' %}
                            </div>
                        </div>
                    {%- endif -%}
                </div>
            {%- endif -%}
        {% endform %}
        {%- if show_button_remove -%}
            <div class="product-wishlist__remove btn-link js-store-lists-remove-wishlist">{{ 'products.product.remove' | t }}</div>
        {%- endif -%}
    </div>
</div>