<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js supports-no-cookies" lang="{{ shop.locale }}"{% if settings.layout_enable_rtl %} dir="rtl"{% endif %}> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js supports-no-cookies" lang="{{ shop.locale }}"{% if settings.layout_enable_rtl %} dir="rtl"{% endif %}> <!--<![endif]-->
{% capture document %}
<head>
  {% include 'head' %}
  {% capture get_content_for_header %}
    {{ content_for_header }}
  {% endcapture %}
  {%- if settings.layout_include_weglot_app -%}
    {% capture weglot_includes %}
    
    
    {% endcapture %}
  {%- endif -%}
{% render 'weglot_hreftags' %}
{% render 'weglot_switcher' %}
<!-- Hotjar Tracking Code for glamposters.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1593847,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
</head>
<body{% include 'layout-get-body-attributes' %}>
{%- if settings.layout_enable_preloader -%}
  {% include 'layout-get-preloader' with is_fixed: true %}
{%- endif -%}
{% section 'global-settings' %}
{% section 'header' %}
<main id="MainContent">
  {{ content_for_layout }}
    {% section 'footer-information-line' %}
</main>
{% section 'footer' %}
{% section 'popup' %}
{% section 'footbar' %}
{% include 'fixed-sidebar' %}
{% include 'templates' %}
{% include 'layout-get-includes' %}
{% include 'layout-get-version' %}
{% endcapture %}
{{ document | replace: '   ', ' ' | replace: '  ', ' ' }}
{% capture get_content_for_header %}
  {%- if settings.dev_enable_content_for_header -%}
    {%- assign get_content_for_header = get_content_for_header | replace: "window.addEventListener('load', asyncLoad, false);", "window.addEventListener('theme.loaded.jquery', asyncLoad, false);" | replace: "window.attachEvent('onload', asyncLoad);", "window.attachEvent('theme.loaded.jquery', asyncLoad);" -%}
    {{ get_content_for_header }}
  {%- endif -%}
  {{ weglot_includes }}
{% endcapture %}
{{ get_content_for_header | replace: '   ', ' ' | replace: '  ', ' ' }}
</body>
</html>

