<div{% if section.settings.section_custom_class != blank %} class="{{ section.settings.section_custom_class }}"{% endif %} data-section-id="{{ section.id }}" data-section-type="carousel-brands" data-postload="carousel_brands">
    {% include 'section-res-margins' %}
    <div class="container{{ section_margins }}">
        {%- if section.settings.layout == 'slider' -%}
        <div class="carousel{% if section.settings.arrows %} carousel--arrows{% endif %} carousel-brands position-relative">
            {%- if section.settings.show_top_separator -%}
                <div class="border-top mb-50"></div>
            {%- endif -%}
            {%- if section.settings.title != blank -%}
                <h4 class="{{ section.settings.title_style_tag }} carousel__title home-section-title mb-30 text-center">{{ section.settings.title }}</h4>
            {%- endif -%}
            <div class="carousel__slider position-relative invisible"
                 data-js-carousel
                 data-autoplay="{{ section.settings.autoplay }}"
                 data-speed="{{ section.settings.speed | times: 1000 }}"
                 data-count="{{ section.settings.products_pre_row }}"
                 data-infinite="{{ section.settings.infinite }}"
                 data-arrows="{{ section.settings.arrows }}"
                 data-bullets="{{ section.settings.bullets }}">
                {%- if section.settings.arrows -%}
                    <div class="carousel__prev position-absolute cursor-pointer" data-js-carousel-prev><i>{% include 'icon-theme-006' %}</i></div>
                {%- endif -%}
                <div class="carousel__items overflow-hidden">
                    <div class="carousel__slick" data-js-carousel-slick>
                        {%- for block in section.blocks -%}
                            {%- assign link = block.settings.link -%}
                            <{% if link != blank %}a href="{{ link }}"{% else %}div{% endif %} class="carousel__item promobox promobox--type-03 position-relative d-flex align-items-center justify-content-center">
                                <div class="w-100"{% if section.settings.image_max_width > 0 %} style="max-width: {{ section.settings.image_max_width }}px;"{% endif %}>
                                    {% include 'rimage' with image: block.settings.image size: '400x' attr: 'class="w-100"' disable_lazyload: section.settings.disable_lazyload scale: 2 %}
                                </div>
                                {%- if section.settings.bordered_links and link != blank -%}
                                    <div class="promobox__border absolute-stretch"></div>
                                {%- endif -%}
                            </{% if link != blank %}a{% else %}div{% endif %}>
                        {%- endfor -%}
                    </div>
                </div>
                {%- if section.settings.arrows -%}
                    <div class="carousel__next position-absolute cursor-pointer" data-js-carousel-next><i>{% include 'icon-theme-007' %}</i></div>
                {%- endif -%}
            </div>
            {% comment %}
            {% include 'layout-get-preloader' %}
            {% endcomment %}
        </div>
        {%- elsif section.settings.layout == 'grid' -%}
            <div class="row">
                {%- for block in section.blocks -%}
                    <div class="col-4 col-sm-3 col-lg-2 mb-15 mb-lg-30">
                        {%- assign link = block.settings.link -%}
                        <{% if link != blank %}a href="{{ link }}"{% else %}div{% endif %} class="promobox promobox--type-03 w-100 position-relative">
                            {% include 'rimage' with image: block.settings.image size: '400x' attr: 'class="w-100"' disable_lazyload: section.settings.disable_lazyload scale: 2 prm_image_border_radius: section.settings.border_radius %}
                            {%- if section.settings.bordered_links and link != blank -%}
                                <div class="promobox__border absolute-stretch"{% if section.settings.border_radius != blank %} style="border-radius: {{ section.settings.border_radius }}"{% endif %}></div>
                            {%- endif -%}
                        </{% if link != blank %}a{% else %}div{% endif %}>
                    </div>
                {%- endfor -%}
            </div>
        {%- endif -%}
    </div>
</div>

<script>
    Loader.require({type: "style", name: "plugin_slick"});
    Loader.require({type: "script", name: "carousel_brands"});
</script>

{% schema %}
{
    "name": "Brands carousel",
    "settings": [
        {
            "type": "text",
            "id": "section_custom_class",
            "label": "Custom class for section"
        },
        {
            "type": "textarea",
            "id": "title",
            "label": "Title"
        },
        {
        "type": "select",
        "id": "title_style_tag",
        "label": "Title style tag",
        "default": "h4",
        "options": [
        {
        "value": "h1",
        "label": "h1"
        },
        {
        "value": "h2",
        "label": "h2"
        },
        {
        "value": "h3",
        "label": "h3"
        },
        {
        "value": "h4",
        "label": "h4"
        },
        {
        "value": "h6",
        "label": "h6"
        },
        {
        "value": "h5",
        "label": "h5"
        }
        ]
        },
        {
            "type": "checkbox",
            "id": "show_top_separator",
            "label": "Show top separator",
            "default": true
        },
        {
            "type": "range",
            "id": "margin_top",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "px",
            "label": "Margin top",
            "default": 0
        },
        {
            "type": "text",
            "id": "margin_top_responsive",
            "label": "Responsive margin top",
            "info": "Example is '10,10,15,15,15'"
        },
        {
            "type": "range",
            "id": "margin_bottom",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "px",
            "label": "Margin bottom",
            "default": 55
        },
        {
            "type": "text",
            "id": "margin_bottom_responsive",
            "label": "Responsive margin bottom",
            "info": "Example is '10,10,15,15,15'"
        },
        {
            "type": "select",
            "id": "layout",
            "label": "Layout",
            "default": "slider",
            "options": [
                {
                    "value": "slider",
                    "label": "Slider"
                },
                {
                    "value": "grid",
                    "label": "Grid"
                }
            ]
        },
        {
            "type": "range",
            "id": "products_pre_row",
            "min": 4,
            "max": 8,
            "step": 1,
            "unit": "pds",
            "label": "Items per row (Only for Slider)",
            "default": 6
        },
        {
            "type": "range",
            "id": "image_max_width",
            "min": 0,
            "max": 200,
            "step": 10,
            "unit": "px",
            "label": "Image max width",
            "info": "0 - is auto width",
            "default": 0
        },
        {
            "type": "checkbox",
            "id": "bordered_links",
            "label": "Bordered links",
            "default": true
        },
        {
            "type": "text",
            "id": "border_radius",
            "label": "Border radius",
            "info": "Example: 5px"
        },
        {
            "type": "checkbox",
            "id": "autoplay",
            "label": "Autoplay",
            "default": true
        },
        {
            "type": "range",
            "id": "speed",
            "min": 2,
            "max": 10,
            "step": 1,
            "unit": "sec",
            "label": "Autoplay speed",
            "default": 5
        },
        {
            "type": "checkbox",
            "id": "infinite",
            "label": "Is infinite",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "arrows",
            "label": "Arrows",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "bullets",
            "label": "Bullets",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "disable_lazyload",
            "label": "Disable lazy load",
            "default": false
        }
    ],
    "blocks": [
        {
            "type": "brand",
            "name": "Brand",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "Link"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Brands carousel",
            "category": "2) Carousels"
        }
    ]
}
{% endschema %}