{%- if section.blocks.size > 0 -%}
    <div data-section-id="{{ section.id }}" data-section-type="carousel-reviews" class="d-none">
        {% include 'section-res-margins' %}
        <div class="{{ section_margins }}">
            <div class="container"{% if section.settings.color_bg != blank and section.settings.color_bg != 'rgba(0,0,0,0)' %} style="background-color: {{ section.settings.color_bg }};"{% endif %}>
                <div class="carousel{% if section.settings.arrows %} carousel--arrows{% endif %} carousel-reviews position-relative pt-lg-15">
                    <div class="carousel__slider position-relative invisible"
                         data-js-carousel
                         data-autoplay="{{ section.settings.autoplay }}"
                         data-speed="{{ section.settings.speed | times: 1000 }}"
                         data-infinite="true"
                         data-arrows="{{ section.settings.arrows }}"
                         data-bullets="false">
                        {%- if section.settings.arrows -%}
                            <div class="carousel__prev carousel-reviews__prev d-none d-lg-flex flex-center position-absolute rounded-circle overflow-hidden cursor-pointer" data-js-carousel-prev><i>{% include 'icon-theme-006' %}</i></div>
                        {%- endif -%}
                        <div class="carousel-reviews__reviews overflow-hidden">
                            <div class="carousel__slick" data-js-carousel-slick data-carousel-items data-max-count="{{ section.settings.max_count }}" data-products-pre-row="{{ section.settings.products_pre_row }}" data-async-ajax-loading="{{ section.settings.async_ajax_loading }}">
                                {%- for block in section.blocks -%}
                                    <div class="carousel__item carousel-reviews__review col position-lg-relative d-flex flex-column justify-content-center my-15">
                                        <{% if block.settings.url != blank %}a href="{{ block.settings.url }}" target="_blank"{% else %}div{% endif %} class="carousel-reviews__item_content d-block position-relative px-15 py-15">
                                            <div class="carousel-reviews__item_content_inner mx-auto">
                                                {%- if block.settings.user_text_line != blank -%}
                                                    <p class="carousel-reviews__user_text mb-5">{{ block.settings.user_text_line }}</p>
                                                {%- endif -%}
                                                <div class="carousel-reviews__stars inline-flex justify-content-center mt-10">
                                                    {%- for i in (0..5) limit: block.settings.stars -%}
                                                        <i>{% include 'icon-theme-221' %}</i>
                                                    {%- endfor -%}
                                                </div>
                                                {%- if block.settings.title != blank -%}
                                                    <h3 class="h4 mt-5 mb-0">{{ block.settings.title }}</h3>
                                                {%- endif -%}
                                                {%- if block.settings.paragraph != blank -%}
                                                    <p class="paragraph-lg mt-10 mb-0">{{ block.settings.paragraph }}</p>
                                                {%- endif -%}
                                            </div>
                                        </{% if block.settings.url != blank %}a{% else %}div{% endif %}>
                                    </div>
                                {%- endfor -%}
                            </div>
                        </div>
                        {%- if section.settings.arrows -%}
                            <div class="carousel__next carousel-reviews__next d-none d-lg-flex flex-center position-absolute rounded-circle overflow-hidden cursor-pointer" data-js-carousel-next><i>{% include 'icon-theme-007' %}</i></div>
                        {%- endif -%}
                    </div>
                </div>
            </div>
        </div>
    </div>
{%- endif -%}
<script>
    Loader.require({type: "style", name: "plugin_slick"});
    Loader.require({type: "script", name: "carousel_reviews"});
</script>

{% schema %}
{
    "name": "Reviews carousel",
    "settings": [
        {
            "type": "range",
            "id": "margin_top",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "px",
            "label": "Margin top",
            "default": 0
        },
        {
            "type": "text",
            "id": "margin_top_responsive",
            "label": "Responsive margin top",
            "info": "Example is '10,10,15,15,15'"
        },
        {
            "type": "range",
            "id": "margin_bottom",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "px",
            "label": "Margin bottom",
            "default": 60
        },
        {
            "type": "text",
            "id": "margin_bottom_responsive",
            "label": "Responsive margin bottom",
            "info": "Example is '10,10,15,15,15'"
        },
        {
            "type": "checkbox",
            "id": "autoplay",
            "label": "Autoplay",
            "default": true
        },
        {
            "type": "range",
            "id": "speed",
            "min": 2,
            "max": 10,
            "step": 1,
            "unit": "sec",
            "label": "Autoplay speed",
            "default": 5
        },
        {
            "type": "checkbox",
            "id": "arrows",
            "label": "Arrows",
            "default": true
        },
        {
            "type": "color",
            "id": "color_bg",
            "label": "Background"
        }
    ],
    "blocks": [
        {
            "type": "slide",
            "name": "Slide",
            "settings": [
                {
                    "type": "textarea",
                    "id": "user_text_line",
                    "label": "User text line",
                    "default": "<strong>User</strong> reviewed <strong>Displate</strong>"
                },
                {
                    "type": "range",
                    "id": "stars",
                    "min": 1,
                    "max": 5,
                    "step": 1,
                    "label": "Stars",
                    "default": 5
                },
                {
                    "type": "textarea",
                    "id": "title",
                    "label": "Title",
                    "default": "TITLE"
                },
                {
                    "type": "textarea",
                    "id": "paragraph",
                    "label": "Paragraph",
                    "default": "Paragraph"
                },
{
"type": "url",
"id": "url",
"label": "URL"
}
            ]
        }
    ]
}
{% endschema %}