{%- if section.settings.enable -%}
    {%- if section.settings.type == 'related' -%}
        {%- assign same_vendor = false -%}
        {%- assign same_type = false -%}
        {%- assign exclusions = 'frontpage,all' | split: ',' -%}
        {%- if product.metafields.c_f['Related Products'] -%}
            {%- assign collection = collections[product.metafields.c_f['Related Products']] -%}
        {%- endif -%}
        {%- assign found_a_collection = false -%}
        {%- if collection and collection.all_products_count > 1 -%}
            {%- unless exclusions contains collection.handle -%}
                {%- assign found_a_collection = true -%}
            {%- endunless -%}
        {%- endif -%}
        {%- unless found_a_collection -%}
            {%- for c in product.collections -%}
                {%- unless exclusions contains c.handle or c.all_products_count < 2 -%}
                    {%- assign found_a_collection = true -%}
                    {%- assign collection = c -%}
                    {%- break -%}
                {%- endunless -%}
            {%- endfor -%}
        {%- endunless -%}
        {%- if found_a_collection -%}
            {%- assign counter = 0 -%}
            {%- assign current_product = product -%}
            {%- assign limit = section.settings.products_pre_row | at_most: section.settings.max_count | plus: 1 -%}
            {% capture section_html %}
                <div data-section-id="{{ section.id }}" data-section-type="carousel-products" data-postload="carousel_products">
                    <div class="container">
                        <div class="carousel carousel-products position-relative mt-30 pb-60 mt-lg-0">
                            <div class="border-top mb-50"></div>
                            <div class="carousel__head row justify-content-center mb-25">
                                <h4 class="carousel__title home-section-title col-auto mb-10 text-center">{{ section.settings.title }}</h4>
                            </div>
                            <div class="carousel__slider position-relative invisible"
                                 data-js-carousel
                                 data-autoplay="{{ section.settings.autoplay }}"
                                 data-speed="{{ section.settings.speed | times: 1000 }}"
                                 data-count="{{ section.settings.products_pre_row }}"
                                 data-infinite="{{ section.settings.infinite }}"
                                 data-arrows="{{ section.settings.arrows }}"
                                 data-bullets="{{ section.settings.bullets }}">
                                <div class="carousel__prev d-none position-absolute cursor-pointer" data-js-carousel-prev><i>{% include 'icon-theme-006' %}</i></div>
                                <div class="carousel__products overflow-hidden">
                                    <div class="carousel__slick row" data-js-carousel-slick data-carousel-products-items data-max-count="{{ section.settings.max_count }}" data-products-pre-row="{{ section.settings.products_pre_row }}" data-async-ajax-loading="{{ section.settings.async_ajax_loading }}">
                                        {%- for product in collection.products -%}
                                            {%- unless product.handle == current_product.handle -%}
                                                {%- unless same_vendor and current_product.vendor != product.vendor -%}
                                                    {%- unless same_type and current_product.type != product.type -%}
                                                        {%- if section.settings.async_ajax_loading == false or forloop.index0 < limit -%}
                                                            <div class="carousel__item col-auto">
                                                                {%- assign disable_lazyload = section.settings.disable_lazyload -%}
                                                                {% include 'product-collection' with url_without_collection: true %}
                                                            </div>
                                                        {%- elsif section.settings.async_ajax_loading and forloop.index >= limit and forloop.last == true -%}
                                                            <div class="carousel__item col-auto">
                                                                {%- assign disable_lazyload = section.settings.disable_lazyload -%}
                                                                {% include 'product-collection' with url_without_collection: true %}
                                                            </div>
                                                        {%- else -%}
                                                            <div class="carousel__item col-auto" data-handle="{{ product.handle }}"></div>
                                                        {%- endif -%}
                                                        {%- assign counter = counter | plus: 1 -%}
                                                        {%- if counter == section.settings.max_count -%}
                                                            {%- break -%}
                                                        {%- endif -%}
                                                    {%- endunless -%}
                                                {%- endunless -%}
                                            {%- endunless -%}
                                        {%- endfor -%}
                                    </div>
                                </div>
                                <div class="carousel__next d-none position-absolute cursor-pointer" data-js-carousel-next><i>{% include 'icon-theme-007' %}</i></div>
                            </div>
                            <div class="loader visible">
                                <div class="loader__bg"></div>
                                <div class="loader__spinner animate"></div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endcapture %}
            {%- if counter > 0 -%}
                {{ section_html }}

                <script>
                    Loader.require({type: "style", name: "plugin_slick"});
                    Loader.require({type: "script", name: "carousel_products"});
                </script>
            {%- endif -%}
        {%- endif -%}
    {%- elsif section.settings.type == 'recommendations' -%}
        {% comment %}
        {%- assign limit = section.settings.max_count -%}
        {%- if section.settings.products_pre_row > section.settings.max_count -%}
            {%- assign limit = section.settings.products_pre_row -%}
        {%- endif -%}
        {% endcomment %}
        {%- assign limit = section.settings.products_pre_row | at_most: section.settings.max_count | plus: 1 -%}
        <div data-section-id="{{ section.id }}" data-section-type="carousel-products" data-postload="carousel_products">
            <div class="product-recommendations" data-product-id="{{ product.id }}" data-limit="{{ section.settings.max_count }}">
                {%- if recommendations.products_count > 0 -%}
                    <div class="container">
                        <div class="carousel carousel-products position-relative mt-30 pb-60 mt-lg-0">
                            <div class="border-top mb-50"></div>
                            <div class="carousel__head row justify-content-center mb-25">
                                <h4 class="carousel__title col-auto mb-10 text-center">{{ section.settings.title }}</h4>
                            </div>
                            <div class="carousel__slider position-relative invisible"
                                 data-js-carousel
                                 data-autoplay="{{ section.settings.autoplay }}"
                                 data-speed="{{ section.settings.speed | times: 1000 }}"
                                 data-count="{{ section.settings.products_pre_row }}"
                                 data-infinite="{{ section.settings.infinite }}"
                                 data-arrows="{{ section.settings.arrows }}"
                                 data-bullets="{{ section.settings.bullets }}">
                                <div class="carousel__prev d-none position-absolute cursor-pointer" data-js-carousel-prev><i>{% include 'icon-theme-006' %}</i></div>
                                <div class="carousel__products overflow-hidden">
                                    <div class="carousel__slick row" data-js-carousel-slick data-carousel-products-items data-max-count="{{ section.settings.max_count }}" data-products-pre-row="{{ section.settings.products_pre_row }}" data-async-ajax-loading="{{ section.settings.async_ajax_loading }}">
                                        {%- for product in recommendations.products limit: section.settings.max_count -%}
                                            {%- if section.settings.async_ajax_loading == false or forloop.index0 < limit -%}
                                                <div class="carousel__item col-auto">
                                                    {%- assign disable_lazyload = section.settings.disable_lazyload -%}
                                                    {% include 'product-collection' with url_without_collection: true %}
                                                </div>
                                            {%- elsif section.settings.async_ajax_loading and forloop.index >= limit and forloop.last == true -%}
                                                <div class="carousel__item col-auto">
                                                    {%- assign disable_lazyload = section.settings.disable_lazyload -%}
                                                    {% include 'product-collection' with url_without_collection: true %}
                                                </div>
                                            {%- else -%}
                                                <div class="carousel__item col-auto" data-handle="{{ product.handle }}"></div>
                                            {%- endif -%}
                                        {%- endfor -%}
                                    </div>
                                </div>
                                <div class="carousel__next d-none position-absolute cursor-pointer" data-js-carousel-next><i>{% include 'icon-theme-007' %}</i></div>
                            </div>
                            <div class="loader visible">
                                <div class="loader__bg"></div>
                                <div class="loader__spinner animate"></div>
                            </div>
                        </div>
                    </div>
                {%- endif -%}
            </div>
        </div>

        <script>
            Loader.require({type: "style", name: "plugin_slick"});
            Loader.require({type: "script", name: "carousel_products"});
        </script>
    {%- endif -%}
{%- endif -%}


{% schema %}
{
    "name": "Related products carousel",
    "settings": [
        {
            "type": "checkbox",
            "id": "enable",
            "label": "Enable",
            "default": true
        },
        {
            "type": "select",
            "id": "type",
            "label": "Type",
            "default": "related",
            "options": [
                {
                "value": "related",
                "label": "Related"
                },
                {
                "value": "recommendations",
                "label": "Recommendations"
                }
            ]
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Related Products"
        },
        {
            "type": "range",
            "id": "products_pre_row",
            "min": 2,
            "max": 4,
            "step": 1,
            "unit": "pds",
            "label": "Items per row",
            "default": 4
        },
        {
            "type": "range",
            "id": "max_count",
            "min": 2,
            "max": 50,
            "step": 1,
            "unit": "pds",
            "label": "Max count",
            "default": 6
        },
        {
            "type": "checkbox",
            "id": "autoplay",
            "label": "Autoplay",
            "default": true
        },
        {
            "type": "range",
            "id": "speed",
            "min": 2,
            "max": 10,
            "step": 1,
            "unit": "sec",
            "label": "Autoplay speed",
            "default": 5
        },
        {
            "type": "checkbox",
            "id": "infinite",
            "label": "Is infinite",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "arrows",
            "label": "Arrows",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "bullets",
            "label": "Bullets",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "disable_lazyload",
            "label": "Disable lazy load",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "async_ajax_loading",
            "label": "Async ajax loading",
            "default": true
        }
    ]
}
{% endschema %}