{% capture button_class %}{% if settings.color_article_carousel_button_type == '2' %} btn--invert{% elsif settings.color_article_carousel_button_type == '3' %} btn--secondary{% elsif settings.color_article_carousel_button_type == '5' %} btn--clean{% endif %}{% endcapture %}
<div{% if section.settings.section_custom_class != blank %} class="{{ section.settings.section_custom_class }}"{% endif %} data-section-id="{{ section.id }}" data-section-type="carousel-articles" data-postload="carousel_articles">
    {% include 'section-res-margins' %}
    <div class="container{{ section_margins }}">
        <div class="carousel{% if section.settings.arrows %} carousel--arrows{% endif %} carousel-articles position-relative">
            {%- if section.settings.show_top_separator -%}
                <div class="border-top mb-50"></div>
            {%- endif -%}
            {%- if section.settings.title != blank -%}
                <h4 class="carousel__title {{ section.settings.title_style_tag }} home-section-title mb-35 text-center"><a href="{{ blogs[section.settings.blog].url }}" class="active">{{ section.settings.title }}</a></h4>
            {%- endif -%}
            <div class="carousel__slider position-relative invisible"
                 data-js-carousel
                 data-autoplay="{{ section.settings.autoplay }}"
                 data-speed="{{ section.settings.speed | times: 1000 }}"
                 data-count="{{ section.settings.products_pre_row }}"
                 data-infinite="{{ section.settings.infinite }}"
                 data-arrows="{{ section.settings.arrows }}"
                 data-bullets="{{ section.settings.bullets }}"> 
                {%- if section.settings.arrows -%}
                    <div class="carousel__prev position-absolute cursor-pointer" data-js-carousel-prev><i>{% include 'icon-theme-006' %}</i></div>
                {%- endif -%}
                <div class="carousel__items overflow-hidden">
                    <div class="carousel__slick row" data-js-carousel-slick>
                        {%- assign max_count = section.settings.max_items_count -%}
                        {%- if max_count < section.settings.products_pre_row -%}
                            {%- assign max_count = section.settings.products_pre_row -%}
                        {%- endif -%}
                        {%- for article in blogs[section.settings.blog].articles limit: max_count -%}
                            {%- if section.settings.layout == '1' -%}
                                <div class="carousel__item carousel-articles__item carousel-articles__item--layout-01 col-auto d-flex flex-column flex-xl-row align-items-center text-center text-xl-left">
                                    <a href="{{ article.url }}" class="carousel-articles__image d-block mr-xl-20 w-100">
                                        {% include 'rimage' with image: article.image size: '270x' format: 'pjpg' alt: article.title disable_lazyload: section.settings.disable_lazyload %}
                                    </a>
                                    <div class="mt-20 mt-xl-0">
                                        <h3 class="carousel-articles__title {{ section.settings.article_title_style_tag }} mb-0"><a href="{{ article.url }}">{{ article.title | truncate: 66 }}</a></h3>
                                        {%- if section.settings.show_details -%}
                                            {% capture author %}{{ article.author | upcase }}{% endcapture %}
                                            {% capture date %}{{ article.published_at | time_tag: format: 'month_day_year' }}{% endcapture %}
                                            <div class="mt-10 font-italic">{{ 'blogs.article.author_on_date_carousel_html' | t: author: author, date: date }}</div>
                                        {%- endif -%}
                                    </div>
                                </div>
                            {%- elsif section.settings.layout == '2' -%}
                                <div class="carousel__item carousel-articles__item carousel-articles__item--layout-02 col-auto d-flex flex-column">
                                    <a href="{{ article.url }}" class="carousel-articles__image d-block w-100">
                                        {% include 'rimage' with image: article.image size: '270x' format: 'pjpg' alt: article.title disable_lazyload: section.settings.disable_lazyload %}
                                    </a>
                                    <h3 class="carousel-articles__title {{ section.settings.article_title_style_tag }} mt-20 mb-0"><a href="{{ article.url }}">{{ article.title | truncate: 66 }}</a></h3>
                                    <p class="mt-10 mb-0 fs-lg">{{ article.content | strip_html | truncate: section.settings.max_symbols_count, '' }}</p>
                                    {%- if section.settings.show_details -%}
                                        {% capture author %}{{ article.author | upcase }}{% endcapture %}
                                        {% capture date %}{{ article.published_at | time_tag: format: 'month_day_year' }}{% endcapture %}
                                        <div class="mt-15 font-italic">{{ 'blogs.article.author_on_date_carousel_html' | t: author: author, date: date }}</div>
                                    {%- endif -%}
                                    {%- if section.settings.button_text -%}
                                        <div class="mt-20">
                                            <a href="{{ article.url }}" class="btn{{ button_class }}">{{ section.settings.button_text }}</a>
                                        </div>
                                    {%- endif -%}
                                </div>
                            {%- elsif section.settings.layout == '3' -%}
                                <div class="carousel__item carousel-articles__item carousel-articles__item--layout-03 col-auto d-flex flex-column text-center">
                                    <a href="{{ article.url }}" class="carousel-articles__image d-block w-100">
                                        {% include 'rimage' with image: article.image size: '270x' format: 'pjpg' alt: article.title disable_lazyload: section.settings.disable_lazyload %}
                                    </a>
                                    <h3 class="carousel-articles__title {{ section.settings.article_title_style_tag }} mt-20 mb-0"><a href="{{ article.url }}">{{ article.title | truncate: 66 }}</a></h3>
                                    <p class="mt-10 mb-0 fs-lg">{{ article.content | strip_html | truncate: section.settings.max_symbols_count, '' }}</p>
                                    {%- if section.settings.show_details -%}
                                        {% capture author %}{{ article.author | upcase }}{% endcapture %}
                                        {% capture date %}{{ article.published_at | time_tag: format: 'month_day_year' }}{% endcapture %}
                                        <div class="mt-15 font-italic">{{ 'blogs.article.author_on_date_carousel_html' | t: author: author, date: date }}</div>
                                    {%- endif -%}
                                    {%- if section.settings.button_text -%}
                                        <div class="mt-20">
                                            <a href="{{ article.url }}" class="btn{{ button_class }}">{{ section.settings.button_text }}</a>
                                        </div>
                                    {%- endif -%}
                                </div>
                            {%- endif -%}
                        {%- endfor -%}
                    </div>
                </div>
                {%- if section.settings.arrows -%}
                    <div class="carousel__next position-absolute cursor-pointer" data-js-carousel-next><i>{% include 'icon-theme-007' %}</i></div>
                {%- endif -%}
            </div>
            {% comment %}
            {% include 'layout-get-preloader' %}
            {% endcomment %}
        </div>
    </div>
</div>

<script>
    Loader.require({type: "style", name: "plugin_slick"});
    Loader.require({type: "script", name: "carousel_articles"});
</script>

{% schema %}
{
    "name": "Articles carousel",
    "settings": [
        {
            "type": "text",
            "id": "section_custom_class",
            "label": "Custom class for section"
        },
        {
            "type": "textarea",
            "id": "title",
            "label": "Title"
        },
        {
        "type": "select",
        "id": "title_style_tag",
        "label": "Title style tag",
        "default": "h4",
        "options": [
        {
        "value": "h1",
        "label": "h1"
        },
        {
        "value": "h2",
        "label": "h2"
        },
        {
        "value": "h3",
        "label": "h3"
        },
        {
        "value": "h4",
        "label": "h4"
        },
        {
        "value": "h6",
        "label": "h6"
        },
        {
        "value": "h5",
        "label": "h5"
        }
        ]
        },
        {
            "type": "checkbox",
            "id": "show_top_separator",
            "label": "Show top separator",
            "default": false
        },
        {
            "type": "range",
            "id": "margin_top",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "px",
            "label": "Margin top",
            "default": 0
        },
        {
            "type": "text",
            "id": "margin_top_responsive",
            "label": "Responsive margin top",
            "info": "Example is '10,10,15,15,15'"
        },
        {
            "type": "range",
            "id": "margin_bottom",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "px",
            "label": "Margin bottom",
            "default": 60
        },
        {
            "type": "text",
            "id": "margin_bottom_responsive",
            "label": "Responsive margin bottom",
            "info": "Example is '10,10,15,15,15'"
        },
        {
            "type": "blog",
            "id": "blog",
            "label": "Blog"
        },
        {
            "type": "select",
            "id": "layout",
            "label": "Layout",
            "default": "1",
            "options": [
                {
                    "value": "1",
                    "label": "#1 (in row)"
                },
                {
                    "value": "2",
                    "label": "#2 (in column)"
                },
                {
                    "value": "3",
                    "label": "#3 (centered in column)"
                }
            ]
        },
        {
            "type": "select",
            "id": "article_title_style_tag",
            "label": "Article title style tag",
            "default": "h3",
            "options": [
            {
            "value": "h3",
            "label": "h3"
            },
            {
            "value": "h4",
            "label": "h4"
            },
            {
            "value": "h6",
            "label": "h6"
            },
            {
            "value": "h5",
            "label": "h5"
            }
            ]
        },
        {
            "type": "range",
            "id": "max_symbols_count",
            "min": 50,
            "max": 500,
            "step": 10,
            "label": "Max symbols count",
            "default": 200
        },
        {
            "type": "checkbox",
            "id": "show_details",
            "label": "Show post details",
            "default": true
        },
        {
            "type": "text",
            "id": "button_text",
            "label": "Button text (layout #2)",
            "default": "Read & Shop"
        },
        {
            "type": "range",
            "id": "products_pre_row",
            "min": 2,
            "max": 4,
            "step": 1,
            "label": "Items per row",
            "default": 2
        },
        {
            "type": "range",
            "id": "max_items_count",
            "min": 2,
            "max": 20,
            "step": 1,
            "label": "Max items count",
            "default": 10
        },
        {
            "type": "checkbox",
            "id": "autoplay",
            "label": "Autoplay",
            "default": true
        },
        {
            "type": "range",
            "id": "speed",
            "min": 2,
            "max": 10,
            "step": 1,
            "unit": "sec",
            "label": "Autoplay speed",
            "default": 5
        },
        {
            "type": "checkbox",
            "id": "infinite",
            "label": "Is infinite",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "arrows",
            "label": "Arrows",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "bullets",
            "label": "Bullets",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "disable_lazyload",
            "label": "Disable lazy load",
            "default": false
        }
    ],
    "presets": [
        {
            "name": "Articles carousel",
            "category": "2) Carousels"
        }
    ]
}
{% endschema %}