<div{% if section.settings.section_custom_class != blank %} class="{{ section.settings.section_custom_class }}"{% endif %} data-section-id="{{ section.id }}" data-section-type="contact-form">
    {% include 'section-res-margins' %}
    <div class="container{{ section_margins }}">
        <div class="contact-form">
            {%- if section.settings.title != blank -%}
                <h4 class="mb-35 text-center">{{ section.settings.title }}</h4>
            {%- endif -%}
            <div class="row">
                {%- if section.settings.page_content != blank or section.settings.content != blank -%}
                    <div class="col-12 col-md-4 mb-30">
                        <div class="rte">
                            {%- if section.settings.page_content != blank -%}
                                {% include 'content-load-template' content: pages[section.settings.page_content].content %}
                            {%- else -%}
                                {% include 'content-load-template' content: section.settings.content %}
                            {%- endif -%}
                        </div>
                    </div>
                {%- endif -%}
                <div class="col-12 col-md-8 mx-auto">
                    <h3>{{ 'contact.form.title' | t }}</h3>
                    <p class="fs-lg">{{ 'contact.form.paragraph' | t }}</p>
                    {% form 'contact' %}
                        {%- if form.posted_successfully? -%}
                            <p class="form-success">{{ 'contact.form.post_success' | t }}</p>
                        {%- endif -%}
                        <input type="text"
                               name="contact[name]"
                               id="ContactFormName"
                               placeholder="{{ 'contact.form.name_placeholder' | t }}"
                               value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}"
                               required="required">
                        <input type="email"
                               name="contact[email]"
                               id="ContactFormEmail"
                               placeholder="{{ 'contact.form.email_placeholder' | t }}"
                               value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                               spellcheck="false"
                               autocomplete="off"
                               autocapitalize="off"
                               required="required">
                        <input type="tel"
                               class="form-control"
                               name="contact[phone]"
                               id="ContactFormPhone"
                               placeholder="{{ 'contact.form.phone_placeholder' | t }}"
                               value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}"
                               required="required">
                        <textarea rows="8"
                                  name="contact[body]"
                                  id="ContactFormMessage"
                                  placeholder="{{ 'contact.form.message_placeholder' | t }}"
                                  required="required">
                          {%- if form.body -%}
                              {{ form.body }}
                          {%- endif -%}
                        </textarea>
                        {% include 'form-get-message' %}
                        <div class="pt-10">
                            <button type="submit" class="btn"><i class="mr-5">{% include 'icon-theme-196' %}</i>{{ 'contact.form.send' | t }}</button>
                        </div>
                    {% endform %}
                </div>
            </div>
        </div>
    </div>
</div>


{% schema %}
{
    "name": "Contact form",
    "settings": [
        {
            "type": "text",
            "id": "section_custom_class",
            "label": "Custom class for section"
        },
        {
            "type": "textarea",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "range",
            "id": "margin_top",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "px",
            "label": "Margin top",
            "default": 0
        },
        {
            "type": "text",
            "id": "margin_top_responsive",
            "label": "Responsive margin top",
            "info": "Example is '10,10,15,15,15'"
        },
        {
            "type": "range",
            "id": "margin_bottom",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "px",
            "label": "Margin bottom",
            "default": 60
        },
        {
            "type": "text",
            "id": "margin_bottom_responsive",
            "label": "Responsive margin bottom",
            "info": "Example is '10,10,15,15,15'"
        },
        {
            "type": "header",
            "content": "Content"
        },
        {
            "type": "page",
            "id": "page_content",
            "label": "Page content"
        },
        {
            "type": "textarea",
            "id": "content",
            "label": "Content"
        }
    ],
    "presets": [
        {
            "name": "Contact form",
            "category": "3) Static content"
        }
    ]
}
{% endschema %}