{%- assign menus = null -%}
{%- capture section_btn_close -%}
    <div class="footer__section-btn d-flex d-lg-none position-absolute align-items-center justify-content-center">
        <i>{% include 'icon-theme-188' %}</i>
    </div>
{%- endcapture -%}
{%- for block in section.blocks -%}
    {%- case block.type -%}
    {%- when 'menu' -%}
        {%- capture menu_html -%}
            <div class="footer__border border-top d-lg-none"></div>
            <div class="col-lg{% if block.settings.size > 0 %}-{{ block.settings.size }}{% endif %}">
                {%- assign menu = linklists[block.settings.menu] -%}
                <div class="footer__section" data-js-accordion="only-mobile">
                    <div class="footer__section-head position-relative" data-js-accordion-button>
                        <h5 class="{% if block.settings.show_title_on_desktop != true %}d-lg-none {% endif %}py-10 py-lg-0 mb-0 mb-lg-10 text-uppercase">{{ block.settings.title | default: menu.title }}</h5>
                        {%- if block.settings.menu != blank -%}
                            {{ section_btn_close }}
                        {%- endif -%}
                    </div>
                    <div class="footer__section-content d-none d-lg-block" data-js-accordion-content>
                        {%- if block.settings.menu != blank -%}
                            <ul class="list-unstyled pb-15 pb-lg-0{% if block.settings.items_limit > 0 %} row no-gutters{% endif %}">
                                {%- for link in menu.links -%}
                                    {%- if block.settings.items_limit > 0 -%}
                                        {%- assign index_modulo = forloop.index0 | modulo: block.settings.items_limit -%}
                                        {%- if forloop.first -%}
                                            <div class="col-lg">
                                        {%- elsif index_modulo == 0 -%}
                                            </div>
                                            <div class="col-lg">
                                        {%- endif -%}
                                    {%- endif -%}
                                    <li class="py-5 py-lg-0"><a href="{{ link.url }}">{{ link.title }}</a></li>
                                    {%- if block.settings.items_limit > 0 -%}
                                        {%- if forloop.last -%}
                                            </div>
                                        {%- endif -%}
                                    {%- endif -%}
                                {%- endfor -%}
                            </ul>
                        {%- endif -%}
                    </div>
                </div>
            </div>
        {%- endcapture -%}
        {%- assign menus = menus | append: menu_html -%}
    {%- when 'custom_html' -%}
        {%- capture custom_html -%}
            <div class="footer__border border-top row d-lg-none"></div>
            <div class="footer__custom-html">
                <div class="footer__section" data-js-accordion="only-mobile">
                    <div class="footer__section-head position-relative" data-js-accordion-button>
                        <h5 class="{% if block.settings.show_title_on_desktop != true %}d-lg-none {% endif %}py-10 py-lg-0 mb-0 mb-lg-10 text-uppercase">{{ block.settings.title }}</h5>
                        {%- if block.settings.page_content != blank or block.settings.content != blank -%}
                            {{ section_btn_close }}
                        {%- endif -%}
                    </div>
                    <div class="footer__section-content d-none d-lg-block" data-js-accordion-content>
                        {%- if block.settings.page_content != blank -%}
                            {% include 'content-load-template' content: pages[block.settings.page_content].content %}
                        {%- else -%}
                            {% include 'content-load-template' content: block.settings.content %}
                        {%- endif -%}
                    </div>
                </div>
            </div>
        {%- endcapture -%}
    {%- when 'social_media' -%}
        {%- assign show_facebook = block.settings.show_facebook -%}
        {%- assign show_twitter = block.settings.show_twitter -%}
        {%- assign show_google = block.settings.show_google -%}
        {%- assign show_instagram = block.settings.show_instagram -%}
        {%- assign show_pinterest = block.settings.show_pinterest -%}
        {%- assign show_youtube = block.settings.show_youtube -%}
        {%- assign show_behance = block.settings.show_behance -%}
        {%- assign show_skype = block.settings.show_skype -%}
        {%- capture social -%}
            <div class="footer__social-media{% if section.settings.type == '3' or section.settings.type == '7' %} d-lg-flex justify-content-lg-center align-items-lg-center{% endif %}">
                {%- if block.settings.title != blank -%}
                    {%- if section.settings.type == '3' or section.settings.type == '7' -%}
                        <h5 class="d-none d-lg-block mb-10 mb-lg-0 mr-lg-10 text-uppercase">{{ block.settings.title }}</h5>
                    {%- elsif section.settings.type != '4' and section.settings.type != '5' and section.settings.type != '6' -%}
                        <h5 class="d-none d-lg-block mb-10 text-uppercase">{{ block.settings.title }}</h5>
                    {%- endif -%}
                {%- endif -%}
                {%- if section.settings.type == '1' -%}
                    {% include 'social-media' with type: 'column' size: block.settings.size %}
                {%- else -%}
                    {% include 'social-media' with type: 'row', social_enable_tooltip: block.settings.enable_tooltip size: block.settings.size %}
                {%- endif -%}
            </div>
        {%- endcapture -%}
        {%- capture social_mobile -%}
            <div class="footer__social-media-mobile">
                {% include 'social-media' with type: 'row' %}
            </div>
        {%- endcapture -%}
    {%- when 'subscription' -%}
        {%- capture subscription -%}
            {%- capture title -%}
                {%- if block.settings.title != blank -%}
                    <h5 class="mb-10 text-uppercase{% unless settings.font_heading_product_title %} ff-main{% endunless %}">{{ block.settings.title }}</h5>
                {%- endif -%}
                {%- if block.settings.paragraph != blank -%}
                    <p class="mb-10">{{ block.settings.paragraph }}</p>
                {%- endif -%}
            {%- endcapture -%}
            {%- capture content -%}
                {% capture subscription_button_class %}{% if settings.color_footer_subscription_button_type == '2' %} btn--invert{% elsif settings.color_footer_subscription_button_type == '3' %} btn--secondary{% elsif settings.color_footer_subscription_button_type == '5' %} btn--clean{% endif %}{% endcapture %}
                {%- if section.settings.type == '3' -%}
                    {%- if settings.subscription_method == 'shopify' -%}
                        {% form 'customer', id: null, novalidate: 'novalidate', class: 'd-flex flex-column align-items-lg-center mb-10' %}
                            {% include 'form-get-check-error-popup' %}
                            <input type="hidden" name="contact[tags]" value="newsletter">
                            <input type="email" name="contact[email]" class="mb-10 mb-lg-20{% if form.errors %} input--error{% endif %}" placeholder="{{ block.settings.placeholder }}" required="required">
                            <input type="submit" class="btn{{ subscription_button_class }}" name="commit" value="{{ block.settings.button_text }}">
                        {% endform %}
                    {%- elsif settings.subscription_method == 'mailchimp' -%}
                        <form action="{{ settings.subscription_mailchimp_form_action }}" method="post" class="d-flex flex-column align-items-lg-center mb-10" target="_blank">
                            <input type="email" name="EMAIL" id="FooterSubscribe" class="mb-10 mb-lg-20" placeholder="{{ block.settings.placeholder }}" required="required">
                            <input type="submit" class="btn{{ subscription_button_class }}" value="{{ block.settings.button_text }}">
                        </form>
                    {%- endif -%}
                {%- elsif section.settings.type == '7' -%}
                    {%- if settings.subscription_method == 'shopify' -%}
                        {% form 'customer', id: null, novalidate: 'novalidate', class: 'd-flex flex-column align-items-lg-start mb-10' %}
                            {% include 'form-get-check-error-popup' %}
                            <input type="hidden" name="contact[tags]" value="newsletter">
                            <input type="email" name="contact[email]" class="mb-10 mb-lg-20{% if form.errors %} input--error{% endif %}" placeholder="{{ block.settings.placeholder }}" required="required">
                            <input type="submit" class="btn{{ subscription_button_class }}" name="commit" value="{{ block.settings.button_text }}">
                        {% endform %}
                    {%- elsif settings.subscription_method == 'mailchimp' -%}
                        <form action="{{ settings.subscription_mailchimp_form_action }}" method="post" class="d-flex flex-column align-items-lg-start mb-10" target="_blank">
                            <input type="email" name="EMAIL" id="FooterSubscribe" class="mb-10 mb-lg-20" placeholder="{{ block.settings.placeholder }}" required="required">
                            <input type="submit" class="btn{{ subscription_button_class }}" value="{{ block.settings.button_text }}">
                        </form>
                    {%- endif -%}
                {%- else -%}
                    {% capture subscription_form_class %}d-flex flex-column flex-lg-row{% if section.settings.type == '4' %} mb-0{% else %} mb-10{% endif %}{% endcapture %}
                    {%- if settings.subscription_method == 'shopify' -%}
                        {% form 'customer', id: null, novalidate: 'novalidate', class: subscription_form_class %}
                            {% include 'form-get-check-error-popup' %}
                            <input type="hidden" name="contact[tags]" value="newsletter">
                            <input type="email" name="contact[email]" class="mb-10 mb-lg-0 mr-lg-10 {% if form.errors %} input--error{% endif %}" placeholder="{{ block.settings.placeholder }}" required="required">
                            <input type="submit" class="btn{{ subscription_button_class }} px-lg-20" name="commit" value="{{ block.settings.button_text }}">
                        {% endform %}
                    {%- elsif settings.subscription_method == 'mailchimp' -%}
                        <form action="{{ settings.subscription_mailchimp_form_action }}" method="post" class="{{ subscription_form_class }}" target="_blank">
                            <input type="email" name="EMAIL" id="FooterSubscribe" class="mb-10 mb-lg-0 mr-lg-10" placeholder="{{ block.settings.placeholder }}" required="required">
                            <input type="submit" class="btn{{ subscription_button_class }} px-lg-20" value="{{ block.settings.button_text }}">
                        </form>
                    {%- endif -%}
                {%- endif -%}
            {%- endcapture -%}
            {%- if section.settings.type == '1' -%}
                <div class="footer__subscription row align-items-center mb-25">
                    <div class="col-lg-6 mb-10 mb-lg-0">
                        {{ title }}
                    </div>
                    <div class="col-lg-6">
                        {{ content }}
                    </div>
                </div>
            {%- else -%}
                <div class="footer__subscription row{% if section.settings.type != '4' %} mb-25{% endif %}">
                    <div class="col-lg-12 mb-10">
                        {{ title }}
                    </div>
                    <div class="col-lg-12">
                        {{ content }}
                    </div>
                </div>
            {%- endif -%}
        {%- endcapture -%}
    {%- when 'logo' -%}
        {%- capture logo -%}
            <div class="footer__logo w-100 m-auto ml-lg-0 mr-lg-15" style="max-width: {{ block.settings.image_width }}px;">
                <a href="/"{% if block.settings.image != blank or block.settings.logo_svg %} class="d-block text-hide"{% endif %}>
                    {%- capture image_size -%}{{ block.settings.image_width | times: 2 }}x{%- endcapture -%}
                    {%- capture image_attr -%} style="width: {{ block.settings.image_width }}px;"{%- endcapture -%}
                    {%- if block.settings.logo_svg -%}
                        {%- if block.settings.logo_svg_code != blank -%}
                            {{ block.settings.logo_svg_code }}
                        {%- else -%}
                            <img src="{{ 'logo.svg' | asset_url }}" class="lazyload" alt="{{ shop.name }}" {{ image_attr }}>
                        {%- endif -%}
                    {%- elsif block.settings.image != blank -%}
                        {% include 'rimage' with image: block.settings.image size: image_size scale: 2 alt: shop.name attr: image_attr %}
                    {%- endif -%}
                    {{ shop.name }}
                </a>
            </div>
        {%- endcapture -%}
    {%- when 'copyright' -%}
        {%- capture copyright -%}
            <div class="footer__copyright pt-lg-0{% if section.settings.type != '3' and section.settings.type != '4' and section.settings.type != '6' %} mt-20 mt-lg-0{% endif %}">
                {%- if block.settings.enable_custom -%}
                    <p class="mb-0">
                        {%- if block.settings.page_content != blank -%}
                            {% include 'content-load-template' content: pages[block.settings.page_content].content %}
                        {%- else -%}
                            {% include 'content-load-template' content: block.settings.content %}
                        {%- endif -%}
                    </p>
                {%- else -%}
                    <p class="mb-0">{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}. {{ powered_by_link }}</p>
                {%- endif -%}
            </div>
        {%- endcapture -%}
    {%- when 'payments' -%}
        {%- capture payments -%}
            <div class="footer__payments payments d-flex flex-wrap justify-content-center justify-content-lg-start align-items-center{% if section.settings.type != '3' and section.settings.type != '7' %} ml-lg-auto{% endif %}">
                {%- assign payments_default_codes = 'icon-payment-power-by-stripe,icon-payment-shopify-secure,icon-payment-aes-256bit,icon-payment-paypal,icon-payment-visa,icon-payment-mastercard,icon-payment-discover-network,icon-payment-american-express,icon-payment-mcafee-secure' | split: ',' -%}
                {%- assign payments_default_toolpits = 'power_by_stripe,shopify_secure,aes_256bit,paypal,visa,mastercard,discover_network,american_express,mcafee_secure' | split: ',' -%}
                {%- for i in (0..9) -%}
                    {%- assign icon_html = null -%}
                    {%- assign icon_numb = i | plus: 1 -%}
                    {% capture prop_show %}icon_{{ icon_numb }}_show{% endcapture %}
                    {%- if block.settings[prop_show] -%}
                        {% capture prop_code %}icon_{{ icon_numb }}_code{% endcapture %}
                        {% capture prop_image %}icon_{{ icon_numb }}_image{% endcapture %}
                        {% capture prop_url %}icon_{{ icon_numb }}_url{% endcapture %}
                        {% capture prop_toolpit %}icon_{{ icon_numb }}_tooltip{% endcapture %}
                        {%- if forloop.index0 > 8 -%}
                            {%- if block.settings[prop_code] == blank and block.settings[prop_image] == blank -%}
                                {%- break -%}
                            {%- elsif block.settings[prop_toolpit] == blank -%}
                                {%- break -%}
                            {%- endif -%}
                        {%- endif -%}
                        {%- if block.settings[prop_toolpit] != blank -%}
                            {%- assign tooltip_value = block.settings[prop_toolpit] -%}
                        {%- else -%}
                            {% capture name_tooltip %}payments.tooltip.{{ payments_default_toolpits[i] }}{% endcapture %}
                            {% capture tooltip_value %}{{ name_tooltip | t }}{% endcapture %}
                        {%- endif -%}
                        {%- if block.settings[prop_image] != blank -%}
                            {% capture icon_html %}
                                <div class="payments__image payments__image--{{ tooltip_value }}">
                                    {% include 'rimage' with image: block.settings[prop_image] size: '100x' %}
                                    <span class="d-none">{{ tooltip_value }}</span>
                                </div>
                            {% endcapture %}
                        {%- else -%}
                            {%- if block.settings[prop_code] != blank -%}
                                {%- assign code_value = block.settings[prop_code] -%}
                            {%- else -%}
                                {% capture code_value %}{{ payments_default_codes[i] }}{% endcapture %}
                            {%- endif -%}
                            {%- if block.settings.type == 'light' and block.settings[prop_code] == blank -%}
                                {%- assign code_value = code_value | append: '-light' -%}
                            {%- endif -%}
                            {% capture icon_html %}
                                {% include code_value %}
                                <span class="d-none">{{ tooltip_value }}</span>
                            {% endcapture %}
                        {%- endif -%}
                        {% capture tooltip_attrs %}
                            {%- if block.settings.enable_tooltip -%}
                                data-js-tooltip
                                data-tippy-content="{{ tooltip_value }}"
                                data-tippy-placement="top"
                                data-tippy-distance="6"
                            {%- endif -%}
                        {% endcapture %}
                        {%- if block.settings[prop_url] != blank -%}
                            <a href="{{ block.settings[prop_url] }}" class="px-5" {{ tooltip_attrs }}>{{ icon_html }}</a>
                        {%- else -%}
                            <span class="d-flex align-items-center px-5" {{ tooltip_attrs }}>{{ icon_html }}</span>
                        {%- endif -%}
                    {%- endif -%}
                {%- endfor -%}
            </div>
        {%- endcapture -%}
    {%- endcase -%}
{%- endfor -%}
{%- capture menus -%}
    <div class="footer__menus row flex-column flex-lg-row">
        {{ menus }}
    </div>
{%- endcapture -%}
{%- if section.settings.show_button_back_to_top -%}
    {%- capture back_to_top -%}
        <a href="#header" class="footer__back-to-top d-flex position-lg-fixed flex-center" data-js-button-back-to-top="{{ section.settings.button_back_to_top_limit }}">
            <i>{% include 'icon-theme-014' %}</i><span class="d-lg-none mt-4 ml-2">{{ 'layout.footer.button_back_to_top' | t }}</span>
        </a>
    {%- endcapture -%}
{%- endif -%}
{% capture fixed_attr %}{% if section.settings.enable_fixed %} data-js-footer-fixed{% endif %}{% endcapture %}
<div data-section-id="{{ section.id }}" data-section-type="footer"{% include 'layout-get-container-class' %}>
    {% include 'section-res-margins' %}
    {%- case section.settings.type -%}
    {%- when '1' -%}
        <footer id="footer" class="footer{{ section_margins }}{% if section.settings.enable_fixed %} pt-1{% endif %} text-center text-lg-left js-footer"{{ fixed_attr }}>
            {%- if section.settings.show_top_border -%}
                <div class="footer__border border-top d-none d-lg-block"></div>
            {%- endif -%}
            <div class="footer__content pt-lg-55 pb-lg-50">
                <div class="container">
                    <div class="row">
                        <div class="{% if section.settings.show_top_border %}footer__border border-top {% endif %}w-100 mb-45 d-lg-none"></div>
                        {%- if subscription -%}
                            <div class="col-lg-12">
                                {{ subscription }}
                            </div>
                        {%- endif -%}
                        <div class="col-lg-6">
                            {{ menus }}
                        </div>
                        <div class="col-lg-4">
                            {{ custom_html }}
                        </div>
                        <div class="col-lg-2 d-none d-lg-block">
                            {{ social }}
                        </div>
                    </div>
                </div>
            </div>
            {%- if logo or copyright or payments -%}
                {%- if section.settings.show_bottom_border -%}
                    <div class="footer__border border-top d-none d-lg-block"></div>
                {%- endif -%}
                <div class="footer__border border-top d-lg-none"></div>
                <div class="footer__tape py-lg-15">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 d-flex flex-column flex-lg-row align-items-lg-center py-40 py-lg-0">
                                {{ logo }}
                                {{ copyright }}
                                {%- if social_mobile -%}
                                    <div class="d-lg-none mt-25">
                                        {{ social_mobile }}
                                    </div>
                                {%- endif -%}
                            </div>
                            {%- if payments -%}
                                {%- if section.settings.show_bottom_border -%}
                                    <div class="footer__border border-top w-100 d-lg-none"></div>
                                {%- endif -%}
                                <div class="col-lg-6 d-flex flex-column flex-lg-row align-items-lg-center pt-20 pb-15 py-lg-0">
                                    {{ payments }}
                                </div>
                            {%- endif -%}
                        </div>
                    </div>
                </div>
            {%- endif -%}
        </footer>
        {{ back_to_top }}
    {%- when '2' -%}
        <footer id="footer" class="footer{{ section_margins }}{% if section.settings.enable_fixed %} pt-1{% endif %} text-center text-lg-left js-footer"{{ fixed_attr }}>
            {%- if section.settings.show_top_border -%}
                <div class="footer__border border-top d-none d-lg-block"></div>
            {%- endif -%}
            <div class="footer__content pt-lg-55 pb-lg-50">
                <div class="container">
                    <div class="row">
                        <div class="{% if section.settings.show_top_border %}footer__border border-top {% endif %}w-100 mb-45 d-lg-none"></div>
                        <div class="col-lg-6 order-1 order-lg-0">
                            {{ menus }}
                        </div>
                        <div class="col-lg-6">
                            {{ subscription }}
                            {%- if social -%}
                                <div class="d-none d-lg-block">
                                    {{ social }}
                                </div>
                            {%- endif -%}
                        </div>
                    </div>
                </div>
            </div>
            {%- if logo or copyright or payments -%}
                {%- if section.settings.show_bottom_border -%}
                    <div class="footer__border border-top d-none d-lg-block"></div>
                {%- endif -%}
                <div class="footer__border border-top d-lg-none"></div>
                <div class="footer__tape py-lg-15">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-{% if payments %}6{% else %}12{% endif %} d-flex flex-column flex-lg-row align-items-lg-center py-40 py-lg-0">
                                {{ logo }}
                                {{ copyright }}
                                {%- if social_mobile -%}
                                    <div class="d-lg-none mt-25">
                                        {{ social_mobile }}
                                    </div>
                                {%- endif -%}
                            </div>
                            {%- if payments -%}
                                {%- if section.settings.show_bottom_border -%}
                                    <div class="footer__border border-top w-100 d-lg-none"></div>
                                {%- endif -%}
                                <div class="col-lg-6 d-flex flex-column flex-lg-row align-items-lg-center pt-20 pb-15 py-lg-0">
                                    {{ payments }}
                                </div>
                            {%- endif -%}
                        </div>
                    </div>
                </div>
            {%- endif -%}
        </footer>
        {{ back_to_top }}
    {%- when '3' -%}
        <footer id="footer" class="footer{{ section_margins }}{% if section.settings.enable_fixed %} pt-1{% endif %} text-center js-footer"{{ fixed_attr }}>
            {%- if section.settings.show_top_border -%}
                <div class="footer__border border-top d-none d-lg-block"></div>
            {%- endif -%}
            <div class="footer__content pt-lg-55 pb-lg-50">
                <div class="container">
                    <div class="row">
                        <div class="{% if section.settings.show_top_border %}footer__border border-top {% endif %}w-100 mb-45 d-lg-none"></div>
                        <div class="col-12 col-lg">
                            {{ subscription }}
                        </div>
                        <div class="footer__border border-left d-none d-lg-block"></div>
                        <div class="col-12 col-lg">
                            {{ custom_html }}
                        </div>
                        <div class="footer__border border-left d-none d-lg-block"></div>
                        <div class="col-12 col-lg">
                            {{ menus }}
                        </div>
                    </div>
                </div>
            </div>
            {%- if social -%}
                <div class="d-none d-lg-block">
                    {%- if section.settings.show_bottom_border -%}
                        <div class="footer__border border-top d-none d-lg-block"></div>
                    {%- endif -%}
                    <div class="footer__border border-top d-lg-none"></div>
                    <div class="footer__tape py-lg-20">
                        <div class="container">
                            {{ social }}
                        </div>
                    </div>
                </div>
            {%- endif -%}
            {%- if copyright or payments -%}
                {%- if section.settings.show_bottom_border -%}
                    <div class="footer__border border-top"></div>
                {%- endif -%}
                <div class="footer__tape py-lg-15 text-center">
                    <div class="container">
                        <div class="py-40 py-lg-0">
                            {{ copyright }}
                            {%- if social_mobile -%}
                                <div class="d-lg-none mt-25">
                                    {{ social_mobile }}
                                </div>
                            {%- endif -%}
                        </div>
                        {%- if payments -%}
                            {%- if section.settings.show_bottom_border -%}
                                <div class="footer__border border-top row w-100 d-lg-none"></div>
                            {%- endif -%}
                            <div class="d-flex flex-column align-items-center pt-20 pb-15 py-lg-0 mt-lg-5">
                                {{ payments }}
                            </div>
                        {%- endif -%}
                    </div>
                </div>
            {%- endif -%}
        </footer>
        {{ back_to_top }}
    {%- when '4' -%}
        <footer id="footer" class="footer{{ section_margins }}{% if section.settings.enable_fixed %} pt-1{% endif %} text-center js-footer"{{ fixed_attr }}>
            {%- if section.settings.show_top_border -%}
                <div class="footer__border border-top d-none d-lg-block"></div>
            {%- endif -%}
            <div class="footer__content footer__content--boxed-sm pt-lg-55 pb-lg-50">
                <div class="container">
                    <div class="row">
                        <div class="{% if section.settings.show_top_border %}footer__border border-top {% endif %}w-100 mb-45 d-lg-none"></div>
                        <div class="col">
                            {{ subscription }}
                        </div>
                    </div>
                </div>
            </div>
            {%- if copyright or payments -%}
                {%- if section.settings.show_bottom_border -%}
                    <div class="footer__border border-top d-none d-lg-block"></div>
                {%- endif -%}
                <div class="footer__tape py-lg-15 text-center">
                    <div class="container">
                        <div class="py-40 py-lg-0">
                            {{ copyright }}
                            {%- if social_mobile -%}
                                <div class="d-lg-none mt-25">
                                    {{ social_mobile }}
                                </div>
                            {%- endif -%}
                        </div>
                        {%- if social -%}
                            <div class="d-none d-lg-flex justify-content-lg-center mt-lg-10">
                                {{ social }}
                            </div>
                        {%- endif -%}
                    </div>
                </div>
            {%- endif -%}
        </footer>
        {{ back_to_top }}
    {%- when '5' -%}
        <footer id="footer" class="footer{{ section_margins }}{% if section.settings.enable_fixed %} pt-1{% endif %} text-center text-lg-left js-footer"{{ fixed_attr }}>
            {%- if section.settings.show_top_border -%}
                <div class="footer__border border-top d-none d-lg-block"></div>
            {%- endif -%}
            <div class="footer__content py-lg-10">
                <div class="container">
                    <div class="d-lg-flex align-items-lg-center py-15 py-lg-0">
                        <div class="pb-15 pb-lg-0">
                            <div class="{% if section.settings.show_top_border %}footer__border border-top {% endif %}row mb-45 d-lg-none"></div>
                            {{ copyright }}
                        </div>
                        {%- if social -%}
                            <div class="d-flex justify-content-lg-center align-items-center py-15 py-lg-0 ml-lg-auto">
                                {{ social }}
                            </div>
                        {%- endif -%}
                    </div>
                </div>
            </div>
        </footer>
        {{ back_to_top }}
    {%- when '6' -%}
        <footer id="footer" class="footer{{ section_margins }}{% if section.settings.enable_fixed %} pt-1{% endif %} text-center text-lg-left js-footer"{{ fixed_attr }}>
            {%- if section.settings.show_top_border -%}
                <div class="footer__border border-top d-none d-lg-block"></div>
            {%- endif -%}
            <div class="footer__content pt-lg-50 pb-lg-50">
                <div class="container">
                    <div class="row">
                        <div class="{% if section.settings.show_top_border %}footer__border border-top {% endif %}w-100 mb-45 d-lg-none"></div>
                        {%- if subscription -%}
                            <div class="col-lg-12">
                                {{ subscription }}
                            </div>
                        {%- endif -%}
                        <div class="col-lg-5">
                            {{ logo }}
                            <div class="mt-20">
                                {{ custom_html }}
                            </div>
                        </div>
                        <div class="col-lg-7">
                            {{ menus }}
                        </div>
                    </div>
                </div>
            </div>
            {%- if copyright or social -%}
                {%- if section.settings.show_bottom_border -%}
                    <div class="footer__border border-top d-none d-lg-block"></div>
                {%- endif -%}
                <div class="footer__border border-top d-lg-none"></div>
                <div class="footer__tape py-lg-15">
                    <div class="container d-flex flex-column flex-lg-row align-items-lg-center py-40 py-lg-0">
                        {{ copyright }}
                        {%- if social -%}
                            <div class="mt-25 mt-lg-0 ml-lg-auto">
                                {{ social }}
                            </div>
                        {%- endif -%}
                    </div>
                </div>
            {%- endif -%}
        </footer>
        {{ back_to_top }}
    {%- when '7' -%}
        <footer id="footer" class="footer{{ section_margins }}{% if section.settings.enable_fixed %} pt-1{% endif %} text-center text-lg-left js-footer"{{ fixed_attr }}>
            {%- if section.settings.show_top_border -%}
                <div class="footer__border border-top d-none d-lg-block"></div>
            {%- endif -%}
            <div class="footer__content pt-lg-55 pb-lg-50">
                <div class="container">
                    <div class="row">
                        <div class="{% if section.settings.show_top_border %}footer__border border-top {% endif %}w-100 mb-45 d-lg-none"></div>
                        <div class="col-12 col-lg">
                            {{ subscription }}
                        </div>
                        <div class="col-12 col-lg">
                            {{ custom_html }}
                        </div>
                        <div class="col-12 col-lg">
                            {{ menus }}
                        </div>
                    </div>
                </div>
            </div>
            {%- if social -%}
                <div class="d-none d-lg-block text-center">
                    {%- if section.settings.show_bottom_border -%}
                        <div class="footer__border border-top d-none d-lg-block"></div>
                    {%- endif -%}
                    <div class="footer__border border-top d-lg-none"></div>
                    <div class="footer__tape py-lg-20">
                        <div class="container">
                            {{ social }}
                        </div>
                    </div>
                </div>
            {%- endif -%}
            {%- if copyright or payments -%}
                {%- if section.settings.show_bottom_border -%}
                    <div class="footer__border border-top"></div>
                {%- endif -%}
                <div class="footer__tape py-lg-15 text-center">
                    <div class="container">
                        <div class="py-40 py-lg-0">
                            {{ copyright }}
                            {%- if social_mobile -%}
                                <div class="d-lg-none mt-25">
                                    {{ social_mobile }}
                                </div>
                            {%- endif -%}
                        </div>
                        {%- if payments -%}
                            {%- if section.settings.show_bottom_border -%}
                                <div class="footer__border border-top row w-100 d-lg-none"></div>
                            {%- endif -%}
                            <div class="d-flex flex-column align-items-center pt-20 pb-15 py-lg-0 mt-lg-5">
                                {{ payments }}
                            </div>
                        {%- endif -%}
                    </div>
                </div>
            {%- endif -%}
        </footer>
        {{ back_to_top }}
    {%- endcase -%}
</div>

<script>
    Loader.require({type: "script", name: "footer"});
</script>

{% schema %}
{
"name": "Footer",
"settings": [
{
"type": "select",
"id": "type",
"label": "Type",
"default": "1",
"options": [
{
"value": "1",
"label": "Type #1"
},
{
"value": "2",
"label": "Type #2"
},
{
"value": "3",
"label": "Type #3"
},
{
"value": "4",
"label": "Type #4"
},
{
"value": "5",
"label": "Type #5"
},
{
"value": "6",
"label": "Type #6"
},
{
"value": "7",
"label": "Type #7"
}
]
},
{
"type": "select",
"id": "container",
"label": "Content width",
"default": "inherit",
"options": [
{
"value": "inherit",
"label": "Inherit global settings"
},
{
"value": "fullwidth",
"label": "Full width"
},
{
"value": "boxed",
"label": "Boxed"
}
]
},
{
"type": "range",
"id": "margin_top",
"min": 0,
"max": 100,
"step": 5,
"unit": "px",
"label": "Margin top",
"default": 0
},
{
"type": "text",
"id": "margin_top_responsive",
"label": "Responsive margin top",
"info": "Example is '10,10,15,15,15'"
},
{
"type": "checkbox",
"id": "enable_fixed",
"label": "Enable fixed",
"default": true
},
{
"type": "checkbox",
"id": "show_top_border",
"label": "Show top border",
"default": true
},
{
"type": "checkbox",
"id": "show_bottom_border",
"label": "Show bottom border",
"default": true
},
{
"type": "checkbox",
"id": "show_button_back_to_top",
"label": "Show button 'Back to top'",
"default": true
},
{
"type": "range",
"id": "button_back_to_top_limit",
"min": 200,
"max": 2000,
"step": 100,
"unit": "px",
"label": "Button 'Back to top' scroll visible limit",
"default": 600
}
],
"blocks": [
{
"type": "menu",
"name": "Menu",
"settings": [
{
"type": "checkbox",
"id": "show_title_on_desktop",
"label": "Show title on desktop",
"default": true
},
{
"type": "text",
"id": "title",
"label": "Title"
},
{
"type": "link_list",
"id": "menu",
"label": "Menu"
},
{
"type": "range",
"id": "size",
"min": 0,
"max": 12,
"step": 1,
"label": "Column size",
"info": "0 - is auto size",
"default": 0
},
{
"type": "range",
"id": "items_limit",
"min": 0,
"max": 20,
"step": 1,
"label": "Items limit",
"info": "0 - disable",
"default": 0
}
]
},
{
"type": "custom_html",
"name": "Custom html",
"limit": 1,
"settings": [
{
"type": "checkbox",
"id": "show_title_on_desktop",
"label": "Show title on desktop",
"default": true
},
{
"type": "text",
"id": "title",
"label": "Title",
"default": "Here to help"
},
{
"type": "page",
"id": "page_content",
"label": "Page content"
},
{
"type": "html",
"id": "content",
"label": "Content"
}
]
},
{
"type": "social_media",
"name": "Social media",
"limit": 1,
"settings": [
{
"type": "text",
"id": "title",
"label": "Title",
"default": "Follow us"
},
{
"type": "checkbox",
"id": "enable_tooltip",
"label": "Enable tooltip",
"default": true
},
{
"type": "select",
"id": "size",
"label": "Size",
"default": "default",
"options": [
{
"value": "default",
"label": "Default"
},
{
"value": "large",
"label": "Large"
}
]
},
{
"type": "checkbox",
"id": "show_facebook",
"label": "Show facebook",
"default": true
},
{
"type": "checkbox",
"id": "show_twitter",
"label": "Show twitter",
"default": true
},
{
"type": "checkbox",
"id": "show_google",
"label": "Show google",
"default": true
},
{
"type": "checkbox",
"id": "show_instagram",
"label": "Show instagram",
"default": true
},
{
"type": "checkbox",
"id": "show_pinterest",
"label": "Show pinterest",
"default": true
},
{
"type": "checkbox",
"id": "show_youtube",
"label": "Show youtube",
"default": true
},
{
"type": "checkbox",
"id": "show_behance",
"label": "Show behance",
"default": true
},
{
"type": "checkbox",
"id": "show_skype",
"label": "Show skype",
"default": true
}
]
},
{
"type": "subscription",
"name": "Subscription",
"limit": 1,
"settings": [
{
"type": "text",
"id": "title",
"label": "Title",
"default": "Newsletter subscription"
},
{
"type": "text",
"id": "paragraph",
"label": "Paragraph",
"default": "Sign up for Shella updates to receive information about new arrivals, future events and specials."
},
{
"type": "text",
"id": "placeholder",
"label": "Placeholder",
"default": "Enter Your Email Address"
},
{
"type": "text",
"id": "button_text",
"label": "Button text",
"default": "SUBSCRIBE!"
}
]
},
{
"type": "logo",
"name": "Logo",
"limit": 1,
"settings": [
{
"type": "image_picker",
"id": "image",
"label": "Image"
},
{
"type": "range",
"id": "image_width",
"min": 50,
"max": 200,
"step": 2,
"unit": "px",
"label": "Image width",
"default": 64
},
{
"type": "checkbox",
"id": "logo_svg",
"label": "SVG logo",
"default": true
},
{
"type": "textarea",
"id": "logo_svg_code",
"label": "Code of SVG logo",
"info": "default file is - 'assets/logo.svg'"
}
]
},
{
"type": "copyright",
"name": "Copyright",
"limit": 1,
"settings": [
{
"type": "checkbox",
"id": "enable_custom",
"label": "Enable custom",
"default": true
},
{
"type": "page",
"id": "page_content",
"label": "Page content"
},
{
"type": "html",
"id": "content",
"label": "Content"
}
]
},
{
"type": "payments",
"name": "Payments",
"limit": 1,
"settings": [
{
"type": "select",
"id": "type",
"label": "Type",
"default": "dark",
"info": "Only for default code values",
"options": [
{
"value": "dark",
"label": "Dark"
},
{
"value": "light",
"label": "Light"
}
]
},
{
"type": "checkbox",
"id": "enable_tooltip",
"label": "Enable tooltip",
"default": true
},
{
"type": "header",
"content": "Icon #1"
},
{
"type": "checkbox",
"id": "icon_1_show",
"label": "Show icon #1",
"default": true
},
{
"type": "text",
"id": "icon_1_code",
"label": "Code for icon #1",
"info": "Default: icon-payment-power-by-stripe"
},
{
"type": "image_picker",
"id": "icon_1_image",
"label": "Image for icon #1",
"info": "Recommended width - 50px"
},
{
"type": "url",
"id": "icon_1_url",
"label": "Url for icon #1"
},
{
"type": "text",
"id": "icon_1_tooltip",
"label": "Tooltip for icon #1"
},
{
"type": "header",
"content": "Icon #2"
},
{
"type": "checkbox",
"id": "icon_2_show",
"label": "Show icon #2",
"default": true
},
{
"type": "text",
"id": "icon_2_code",
"label": "Code for icon #2",
"info": "Default: icon-payment-shopify-secure"
},
{
"type": "image_picker",
"id": "icon_2_image",
"label": "Image for icon #2",
"info": "Recommended width - 50px"
},
{
"type": "url",
"id": "icon_2_url",
"label": "Url for icon #2"
},
{
"type": "text",
"id": "icon_2_tooltip",
"label": "Tooltip for icon #2"
},
{
"type": "header",
"content": "Icon #3"
},
{
"type": "checkbox",
"id": "icon_3_show",
"label": "Show icon #3",
"default": true
},
{
"type": "text",
"id": "icon_3_code",
"label": "Code for icon #3",
"info": "Default: icon-payment-aes-256bit"
},
{
"type": "image_picker",
"id": "icon_3_image",
"label": "Image for icon #3",
"info": "Recommended width - 50px"
},
{
"type": "url",
"id": "icon_3_url",
"label": "Url for icon #3"
},
{
"type": "text",
"id": "icon_3_tooltip",
"label": "Tooltip for icon #3"
},
{
"type": "header",
"content": "Icon #4"
},
{
"type": "checkbox",
"id": "icon_4_show",
"label": "Show icon #4",
"default": true
},
{
"type": "text",
"id": "icon_4_code",
"label": "Code for icon #4",
"info": "Default: icon-payment-paypal"
},
{
"type": "image_picker",
"id": "icon_4_image",
"label": "Image for icon #4",
"info": "Recommended width - 50px"
},
{
"type": "url",
"id": "icon_4_url",
"label": "Url for icon #4"
},
{
"type": "text",
"id": "icon_4_tooltip",
"label": "Tooltip for icon #4"
},
{
"type": "header",
"content": "Icon #5"
},
{
"type": "checkbox",
"id": "icon_5_show",
"label": "Show icon #5",
"default": true
},
{
"type": "text",
"id": "icon_5_code",
"label": "Code for icon #5",
"info": "Default: icon-payment-visa"
},
{
"type": "image_picker",
"id": "icon_5_image",
"label": "Image for icon #5",
"info": "Recommended width - 50px"
},
{
"type": "url",
"id": "icon_5_url",
"label": "Url for icon #5"
},
{
"type": "text",
"id": "icon_5_tooltip",
"label": "Tooltip for icon #5"
},
{
"type": "header",
"content": "Icon #6"
},
{
"type": "checkbox",
"id": "icon_6_show",
"label": "Show icon #6",
"default": true
},
{
"type": "text",
"id": "icon_6_code",
"label": "Code for icon #6",
"info": "Default: icon-payment-mastercard"
},
{
"type": "image_picker",
"id": "icon_6_image",
"label": "Image for icon #6",
"info": "Recommended width - 50px"
},
{
"type": "url",
"id": "icon_6_url",
"label": "Url for icon #6"
},
{
"type": "text",
"id": "icon_6_tooltip",
"label": "Tooltip for icon #6"
},
{
"type": "header",
"content": "Icon #7"
},
{
"type": "checkbox",
"id": "icon_7_show",
"label": "Show icon #7",
"default": true
},
{
"type": "text",
"id": "icon_7_code",
"label": "Code for icon #7",
"info": "Default: icon-payment-discover-network"
},
{
"type": "image_picker",
"id": "icon_7_image",
"label": "Image for icon #7",
"info": "Recommended width - 50px"
},
{
"type": "url",
"id": "icon_7_url",
"label": "Url for icon #7"
},
{
"type": "text",
"id": "icon_7_tooltip",
"label": "Tooltip for icon #7"
},
{
"type": "header",
"content": "Icon #8"
},
{
"type": "checkbox",
"id": "icon_8_show",
"label": "Show icon #8",
"default": true
},
{
"type": "text",
"id": "icon_8_code",
"label": "Code for icon #8",
"info": "Default: icon-payment-american-express"
},
{
"type": "image_picker",
"id": "icon_8_image",
"label": "Image for icon #8",
"info": "Recommended width - 50px"
},
{
"type": "url",
"id": "icon_8_url",
"label": "Url for icon #8"
},
{
"type": "text",
"id": "icon_8_tooltip",
"label": "Tooltip for icon #8"
},
{
"type": "header",
"content": "Icon #9"
},
{
"type": "checkbox",
"id": "icon_9_show",
"label": "Show icon #9",
"default": true
},
{
"type": "text",
"id": "icon_9_code",
"label": "Code for icon #9",
"info": "Default: icon-payment-mcafee-secure"
},
{
"type": "image_picker",
"id": "icon_9_image",
"label": "Image for icon #9",
"info": "Recommended width - 50px"
},
{
"type": "url",
"id": "icon_9_url",
"label": "Url for icon #9"
},
{
"type": "text",
"id": "icon_9_tooltip",
"label": "Tooltip for icon #9"
},
{
"type": "header",
"content": "Icon #10 (additional, has required fields)"
},
{
"type": "checkbox",
"id": "icon_10_show",
"label": "Show icon #10",
"default": false
},
{
"type": "text",
"id": "icon_10_code",
"label": "Code for icon #10",
"info": "Required field"
},
{
"type": "image_picker",
"id": "icon_10_image",
"label": "Image for icon #10",
"info": "Recommended width - 50px"
},
{
"type": "url",
"id": "icon_10_url",
"label": "Url for icon #10"
},
{
"type": "text",
"id": "icon_10_tooltip",
"label": "Tooltip for icon #10",
"info": "Required field"
}
]
}
]
}
{% endschema %}

