{% capture style_icon %}{% if section.settings.color_icon != blank and section.settings.color_icon != 'rgba(0,0,0,0)' %} style="fill: {{ section.settings.color_icon }};"{% endif %}{% endcapture %}
{% capture style_title %}{% if section.settings.color_title != blank and section.settings.color_title != 'rgba(0,0,0,0)' %} style="color: {{ section.settings.color_title }};"{% endif %}{% endcapture %}
{% capture style_paragraph %}{% if section.settings.color_paragraph != blank and section.settings.color_paragraph != 'rgba(0,0,0,0)' %} style="color: {{ section.settings.color_paragraph }};"{% endif %}{% endcapture %}
{% capture style_bg %}{% if section.settings.color_bg != blank and section.settings.color_bg != 'rgba(0,0,0,0)' %} style="background-color: {{ section.settings.color_bg }};"{% endif %}{% endcapture %}
<div{% if section.settings.section_custom_class != blank %} class="{{ section.settings.section_custom_class }}"{% endif %} data-section-id="{{ section.id }}" data-section-type="information-line">
    {% include 'section-res-margins' %}
    <div class="{{ section_margins }}">
        {%- if section.settings.title != blank -%}
            <h4 class="mb-30 text-center">{{ section.settings.title }}</h4>
        {%- endif -%}
        <div class="information-line"{{ style_bg }}>
            {%- if section.settings.show_border -%}
                <div class="border-top"></div>
            {%- endif -%}
            <div class="container">
                <div class="row py-{{ section.settings.padding_v }}">
                    {%- for block in section.blocks -%}
                        <div class="col-12 col-lg-{{ 12 | divided_by: section.blocks.size }} d-flex align-items-center justify-content-center justify-content-lg-start py-10">
                            <i class="mr-15">{% include 'load-icon' with name: block.settings.icon attr: style_icon %}</i>
                            <div>
                                {%- if block.settings.title != blank -%}
                                    <h6 class="d-inline"{{ style_title }}>{{ block.settings.title }} </h6>
                                {%- endif -%}
                                {%- if block.settings.paragraph != blank -%}
                                    <p class="d-inline"{{ style_paragraph }}>{{ block.settings.paragraph }}</p>
                                {%- endif -%}
                            </div>
                        </div>
                    {%- endfor -%}
                </div>
            </div>
        </div>
    </div>
</div>


{% schema %}
{
    "name": "Information line",
    "settings": [
        {
            "type": "text",
            "id": "section_custom_class",
            "label": "Custom class for section"
        },
        {
            "type": "textarea",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "checkbox",
            "id": "show_border",
            "label": "Show border",
            "default": true
        },
        {
            "type": "range",
            "id": "margin_top",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "px",
            "label": "Margin top",
            "default": 0
        },
        {
            "type": "text",
            "id": "margin_top_responsive",
            "label": "Responsive margin top",
            "info": "Example is '10,10,15,15,15'"
        },
        {
            "type": "range",
            "id": "margin_bottom",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "px",
            "label": "Margin bottom",
            "default": 0
        },
        {
            "type": "text",
            "id": "margin_bottom_responsive",
            "label": "Responsive margin bottom",
            "info": "Example is '10,10,15,15,15'"
        },
        {
            "type": "range",
            "id": "padding_v",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "px",
            "label": "Vertical paddings",
            "default": 10
        },
        {
            "type": "color",
            "id": "color_icon",
            "label": "Icon color"
        },
        {
            "type": "color",
            "id": "color_title",
            "label": "Title color"
        },
        {
            "type": "color",
            "id": "color_paragraph",
            "label": "Paragraph color"
        },
        {
            "type": "color",
            "id": "color_bg",
            "label": "Background color"
        }
    ],
    "blocks": [
        {
            "type": "content",
            "name": "Content",
            "limit": 4,
            "settings": [
                {
                    "type": "text",
                    "id": "icon",
                    "label": "Icon snippet name",
                    "default": "theme-116"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Title text."
                },
                {
                    "type": "text",
                    "id": "paragraph",
                    "label": "Paragraph",
                    "default": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa error iste provident."
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Information line",
            "category": "3) Static content"
        }
    ]
}
{% endschema %}