{%- if section.settings.show_title -%}
    <h1 class="h3 text-center">{{ page.title }}</h1>
{%- endif -%}
{%- if section.settings.grid_responsive != blank -%}
    {%- assign grid_responsive = section.settings.grid_responsive | split: ',' -%}
    {% capture grid %}col col-{{ grid_responsive[4] }} col-sm-{{ grid_responsive[3] }} col-md-{{ grid_responsive[2] }} col-lg-{{ grid_responsive[1] }} col-xl-{{ grid_responsive[0] }}{% endcapture %}
{%- else -%}
    {% capture grid %}col-12 col-md-{{ 12 | divided_by: section.settings.grid }}{% endcapture %}
{%- endif -%}
<div data-section-id="{{ section.id }}" data-section-type="lookbook" class="container">
    <div class="lookbook mb-30{% if section.settings.layout != '1' %} mb-lg-5{% endif %}">
        {%- if section.blocks.size > 0 -%}
            {%- assign blocks_size = 0 -%}
            <div class="lookbook__content row">
                {%- for block in section.blocks -%}
                    {%- if block.type == 'image' -%}
                        {%- assign pickers_html = null -%}
                        {%- assign pickers_text_html = null -%}
                        {%- assign page_name_handle = block.settings.page_name | handleize -%}
                        {%- assign name_handle = block.settings.name | handleize -%}
                        {%- if page_name_handle == blank or page_name_handle == page.handle -%}
                            <div class="{{ grid }} mb-30{% if section.settings.layout != '1' %} mb-lg-55{% endif %}">
                                <div class="lookbook__item">
                                    <div class="position-relative">
                                        {% capture image_size %}{{ section.settings.image_size }}x{% endcapture %}
                                        {% capture image_html %}{% include 'rimage' with image: block.settings.image size: image_size  attr: 'class="w-100"' %}{% endcapture %}
                                        {%- if block.settings.url != blank -%}
                                            <a href="{{ block.settings.url }}" class="d-block">
                                                {{ image_html }}
                                            </a>
                                        {%- else -%}
                                            {{ image_html }}
                                        {%- endif -%}
                                        {%- for block in section.blocks -%}
                                            {%- assign for_name_handle = block.settings.for_name | handleize -%}
                                            {%- if block.type == 'product' and for_name_handle == name_handle and block.settings.product != blank -%}
                                                {%- assign product = all_products[block.settings.product] -%}
                                                {% include 'product-res-variables' %}
                                                {% capture pickers_text_html %}
                                                    {{ pickers_text_html }}
                                                    <p class="{% if section.settings.layout == '1' %}d-lg-none {% endif %}mb-0"><a href="{{ url }}">{{ title }}</a> <span class="lookbook__price ml-5">{% include 'product-get-price' %}</span></p>
                                                {% endcapture %}
                                                {%- if section.settings.layout == '1' -%}
                                                    {% capture pickers_html %}
                                                        {{ pickers_html }}
                                                        <div class="lookbook__picker position-absolute" style="top: {{ block.settings.vertical_position }}%;left: {{ block.settings.horizontal_position }}%;" data-lookbook-picker>
                                                            <div class="lookbook__picker-circle position-relative cursor-pointer" data-lookbook-picker-button></div>
                                                            <div class="d-none d-lg-block">
                                                                <div class="lookbook__product d-none position-absolute bottom-0 left-0" data-lookbook-product>
                                                                    <div class="position-absolute top-0 right-0 mt-6 mr-4 cursor-pointer" data-lookbook-product-close>
                                                                        <i>{% include 'icon-theme-164' %}</i>
                                                                    </div>
                                                                    <a href="{{ url }}" class="d-block">
                                                                        {%- capture image_id -%} data-image-id="{{ image.id }}"{%- endcapture -%}
                                                                        {% include 'rimage' with image: image size: '160x' alt: title attr: 'class="w-100"' disable_lazyload: section.settings.disable_lazyload %}
                                                                    </a>
                                                                    <div class="p-10">
                                                                        <p class="mb-0"><a href="{{ url }}">{{ title }}</a></p>
                                                                        <p class="mb-0">{% include 'product-get-price' %}</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endcapture %}
                                                {%- endif -%}
                                            {%- endif -%}
                                        {%- endfor -%}
                                        {%- if pickers_html != null -%}
                                            <div class="absolute-stretch">
                                                {{ pickers_html }}
                                            </div>
                                        {%- endif -%}
                                    </div>
                                    {%- if pickers_text_html != null -%}
                                        <div class="mt-15{% if section.settings.layout == '1' %} mt-lg-0{% endif %}">
                                            {{ pickers_text_html }}
                                        </div>
                                    {%- endif -%}
                                </div>
                            </div>
                            {%- assign blocks_size = blocks_size | plus: 1 -%}
                        {%- endif -%}
                    {%- endif -%}
                {%- endfor -%}
            </div>
            {%- unless blocks_size > 0 -%}
                <div class="col text-center">
                    {% include 'no-blocks' %}
                </div>
            {%- endunless -%}
        {%- else -%}
            <div class="col text-center">
                {% include 'no-blocks' %}
            </div>
        {%- endif -%}
    </div>
</div>

<script>
    Loader.require({type: "script", name: "lookbook"});
</script>

{% schema %}
{
"name": "Look book",
"settings": [
    {
        "type": "checkbox",
        "id": "show_title",
        "label": "Show title",
        "default": true
    },
    {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "1",
        "options": [
            {
                "value": "1",
                "label": "1"
            },
            {
                "value": "2",
                "label": "2"
            }
        ]
    },
    {
        "type": "select",
        "id": "grid",
        "label": "Products per row (Extra large)",
        "default": "3",
        "options": [
            {
                "value": "2",
                "label": "2"
            },
            {
                "value": "3",
                "label": "3"
            },
            {
                "value": "4",
                "label": "4"
            }
        ]
    },
    {
        "type": "text",
        "id": "grid_responsive",
        "label": "Responsive size",
        "info": "Example is '12,12,12,12,12', 1 < value < 12"
    },
    {
        "type": "range",
        "id": "image_size",
        "min": 200,
        "max": 1000,
        "step": 50,
        "unit": "px",
        "default": 500,
        "label": "Image size"
    },
    {
        "type": "checkbox",
        "id": "disable_lazyload",
        "label": "Disable lazy load",
        "default": true
    }
],
"blocks": [
    {
        "type": "image",
        "name": "Image",
        "settings": [
            {
                "type": "text",
                "id": "page_name",
                "label": "Page name"
            },
            {
                "type": "text",
                "id": "name",
                "label": "Name",
                "default": "Image #1"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            },
{
"type": "url",
"id": "url",
"label": "Url"
}
        ]
    },
    {
        "type": "product",
        "name": "Product",
        "settings": [
            {
                "type": "text",
                "id": "for_name",
                "label": "For image (name)",
                "default": "Image #1"
            },
            {
                "type": "product",
                "id": "product",
                "label": "Product"
            },
            {
                "type": "range",
                "id": "horizontal_position",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "%",
                "default": 50,
                "label": "Horizontal position"
            },
            {
                "type": "range",
                "id": "vertical_position",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "%",
                "default": 50,
                "label": "Vertical position"
            }
        ]
    }
]
}
{% endschema %}