{% include 'breadcrumbs' %}
<div class="giftcard {% if gift_card.expired or gift_card.enabled != true %} giftcard--disabled{% endif %} pt-25 pb-45">
  <div class="d-flex flex-column align-items-center text-center">
    <div class="mb-10">
      <h1 class="giftcard__title h3 mb-10">{{ 'gift_cards.issued.subtext' | t }}</h1>
      {%- unless gift_card.enabled -%}
        <span class="giftcard-tag">{{ 'gift_cards.issued.disabled' | t }}</span>
      {%- endunless -%}
      {%- assign gift_card_expiry_date = gift_card.expires_on | date: "%d/%m/%y" -%}
      {%- if gift_card.expired and gift_card.enabled -%}
        <span class="giftcard-tag">{{ 'gift_cards.issued.expired' | t: expiry: gift_card_expiry_date }}</span>
      {%- endif -%}
      {%- if gift_card.expired != true and gift_card.expires_on and gift_card.enabled -%}
        <span class="giftcard-tag giftcard-tag--active">{{ 'gift_cards.issued.active' | t: expiry: gift_card_expiry_date }}</span>
      {%- endif -%}
      {%- assign formatted_initial_value = gift_card.initial_value | money_without_trailing_zeros: gift_card.currency -%}
      {% capture initial_value_html %}{{ 'gift_cards.issued.initial_value' | t }}{% endcapture %}
      {%- assign initial_value_html = initial_value_html | replace: '{{ value }}', formatted_initial_value -%}
      <h2 class="giftcard__value mb-10">{{ initial_value_html }}</h2>
      {%- assign formatted_current_balance = gift_card.balance | money -%}
      {%- if gift_card.balance != gift_card.initial_value -%}
        <p>{{ 'gift_cards.issued.remaining_html' | t: balance: formatted_current_balance }}</p>
      {%- endif -%}
    </div>
    <div class="giftcard__image mb-15 position-relative">
      <img src="{{ 'gift-card.jpg' | asset_url }}" alt="Gift card illustration">
      <div class="giftcard__code d-flex flex-center position-absolute left-0 right-0 bottom-0 mx-20 mb-20 text-center">
        {%- assign code_size = gift_card.code | format_code | size -%}
        <span id="GiftCardDigits" class="font-weight-bold">{{ gift_card.code | format_code }}</span>
      </div>
    </div>
    <p class="fs-lg mb-30">{{ 'gift_cards.issued.redeem' | t }}</p>
    <a href="{{ shop.url }}" class="btn mb-40" target="_blank">{{ 'gift_cards.issued.shop_link' | t }}</a>
    <div class="giftcard__qrcode">
      <div id="QrCode" class="giftcard-qr mb-30" data-identifier="{{ gift_card.qr_identifier }}"></div>
      {%- if gift_card.pass_url -%}
        <a href="{{ gift_card.pass_url }}" class="apple-wallet">
          <img class="apple-wallet-image" src="{{ 'gift-card/add-to-apple-wallet.svg' | shopify_asset_url }}" width="120" height="40" alt="{{ 'gift_cards.issued.add_to_apple_wallet' | t }}">
        </a>
      {%- endif -%}
      <a href="#" id="PrintGiftCard" class="print-giftcard d-flex flex-center">
        <i class="mr-5">{% include 'icon-theme-320' %}</i>
        <h6 class="giftcard__btn-print mb-0">{{ 'gift_cards.issued.print' | t }}</h6>
      </a>
    </div>
  </div>
</div>

<script>
  Loader.require({type: "script", name: "qrcode"});
  Loader.require({type: "script", name: "giftcard"});
</script>